[2015-08-05 06:39] Kirill opened #1 "Not create and upload"
* I get token. Put in config.
* Click to Create and Upload - nothing.
* Ok. Create blank gist {}. Get it id and put to config.
* Click to Upload - I get error in status bar:
```Sync Settings: [Error 2] No such file or directory```

[2015-08-06 20:34] mfuentesg commented on #1
Please open your Sublime console and attaching a screenshot when the error is occurring

[2015-08-07 06:32] Kirill commented on #1
![2015-08-07 08_31_43](https://cloud.githubusercontent.com/assets/302940/9130005/c5e9f92c-3cde-11e5-845e-98814d0f6a4b.png)

[2015-08-07 06:33] Kirill commented on #1
Without opacity
![2015-08-07 08_33_00](https://cloud.githubusercontent.com/assets/302940/9130021/f9a1bbba-3cde-11e5-9500-5993b7c82570.png)

[2015-08-07 14:22] husa commented on #1
Same for me. Console output
[code]

[2015-08-07 14:56] mfuentesg commented on #1
Thanks @husa and @Kirill for your feedback, today i will make a new release!

[2015-08-07 18:24] mfuentesg commented on #1
Solved!

[2015-08-07 18:24] #1 closed

[2015-08-09 13:07] mfuentesg opened #2 "Use threads to non block the app"

[2015-08-10 05:19] TheChrisPratt opened #3 "file or directory does not exist"
I followed the installation instructions exactly.

Created the access token on GitHub
Copied the access token value to `User\SyncSettings.sublime-settings`

Nothing happened!

So I tried the *Preferences* -> *Package Settings* -> *Sync Settings* -> *Sync Settings: Create and Upload* (since it seemed like a likely next step).  It prompts me for a *Gist Description* then gives me the error `file or

[2015-08-10 13:49] amcintosh opened #4 "Sync syntax specific files"
It would be a great addition to sync the syntax specific setting files.

[2015-08-11 00:52] mfuentesg commented on #4
Thanks Andrew, i am working on that. The final idea is upload all files inside the User folder.

[2015-08-11 00:59] mfuentesg commented on #3
Hey Chris, i am working in a logger file to save these errors.

Please send me a screen capture of the error.

[2015-08-11 04:48] mhenrixon commented on #3
This is the output from my end

[code]

[2015-08-15 02:41] #3 closed

[2015-08-15 02:41] mfuentesg commented on #3
The new version has a error logger

[2015-08-27 18:03] randhson opened #6 "Erro ao executar o Sync Settings: Create and Upload"
Se log do erro ao executar o Sync Settings: Create and Upload.

[27/08/2015 - 14:08:42] INFO: You need set the access token
[27/08/2015 - 14:33:32] INFO: You need set the access token
[27/08/2015 - 14:34:14] INFO: You need set the access token
[27/08/2015 - 14:34:48] INFO: You need set the access token
[27/08/2015 - 14:35:43] INFO: You need set the access token
[27/08/2015 - 14:37:26] INFO: You ne

[2015-08-31 19:43] mfuentesg opened #7 "Create .cache file"
Access_token, gistid, last_update

[2015-09-01 03:49] #2 closed

[2015-09-01 03:51] mfuentesg opened #8 "Auto detect changes"
get the current version of gist!

[2015-09-01 03:51] mfuentesg commented on #8
get the current version of gist!

[2015-09-11 18:34] mfuentesg commented on #4
pushed on files branch!

[2015-09-11 18:34] #4 closed

[2015-09-11 19:10] mfuentesg opened #9 "Use an specific revision"

[2015-09-11 19:24] mfuentesg commented on #6
Please check the new release!

[2015-09-11 19:24] #6 closed

[2015-09-13 21:05] mfuentesg opened #10 "known bug"
Files with extension .*-ca-bundle are very long to upload

[2015-09-30 13:44] mfuentesg opened #11 "If the file no exists on another host, the file is not created"

[2015-10-02 08:18] gausie opened #12 "Order issues"
I use SublimeLinter, which adds its own colour schemes. Unfortunately, Download attempts to enable the colour scheme before installing SublimeLinter, so it doesn't work.

[2015-10-08 17:50] mfuentesg commented on #12
I will review this issue

[2015-10-10 13:31] helinb opened #13 "Can't edit the gist"
[10/10/2015 - 21:29:42] ERROR: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte
[10/10/2015 - 21:29:44] ERROR: [Can't edit the gist] - Code 422 - Validation Failed, File: sync_settings.gistapi in /root/.config/sublime-text-3/Installed Packages/Sync Settings.sublime-package - Line: 60

[2015-10-12 01:46] mfuentesg commented on #13
Thanks!

[2015-10-12 03:26] #11 closed

[2015-10-12 04:27] mfuentesg commented on #13
This issue is caused by the file's encoding

[2015-10-12 04:37] mfuentesg commented on #13
Try with
[code]

[2015-10-13 01:50] #13 closed

[2015-10-29 17:19] #9 closed

[2015-10-31 08:09] helinb opened #14 "Can not download"
[31/10/2015 - 16:05:41] ERROR: [The gist not exist] - Code 403 - API rate limit exceeded for 110.211.234.3. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)

[2015-11-02 01:35] dtunes commented on #14
have you setup your access_token?

[2015-11-04 17:23] mfuentesg commented on #14
how many files has your gist?

[2015-11-09 20:17] mfuentesg commented on #12
Check if the installed package has a settings file

[2015-11-15 02:29] #14 closed

[2015-11-18 18:06] MBuchaus opened #15 "Code 422 Line 46"
I'm now getting this error after removeing the gist and trying to start over

[18/11/2015 - 12:03:14] ERROR: [Gist can't created] - Code 422 - Validation Failed, File: sync_settings.gistapi in /Users/marty/Library/Application Support/Sublime Text 3/Installed Packages/Sync Settings.sublime-package - Line: 46

Before the re try attempt  I was getting

[18/11/2015 - 11:40:22] ERROR: [Can't edit the g

[2015-11-19 17:21] mfuentesg commented on #15
Thanks!

[2015-12-03 03:15] galaxyutii commented on #15
I have the same problem, and I'm in the middle of manually reinstalling each of my packages one-by-one in order to find out what caused the problem. I did notice that if I attempted to add an exclusion rule to leave out my `SyncSettings.sublime-settings` file, it caused the validation to fail. It went away after I removed the exclusion rule from my `SyncSettings.sublime-settings` file. I didn't ha

[2015-12-05 23:11] mfuentesg commented on #15
Hi, today i am working on this issue and discovered that empty files generate a 422 error

[2015-12-05 23:11] mfuentesg commented on #10
Empty files generate 422 error

[2015-12-05 23:11] #10 closed

[2015-12-05 23:13] mfuentesg opened #16 "Add testing to validates empty files"

[2015-12-06 00:49] #16 closed

[2015-12-06 01:48] #15 closed

[2015-12-06 13:03] mfuentesg commented on #15
Please try with the new release!

[2015-12-06 19:42] #7 closed

[2015-12-06 22:12] galaxyutii commented on #15
I ended up reinstalling my packages one-by-one in a new installation to see which one was causing the problem, but so far I haven't run into any problems, both before and after updating. Thanks for the quick fix!

[2015-12-10 21:14] carlesba opened #17 "Cannot download"
I did:

1. Generate token and put it in editor 1
2. Create Gist and put it in editor 1
3. Create and update (it updated the first gist I put)
4. Generate new token and put it in editor 2
5. Add gistId in editor 2
6. Download

Last step broke all my config in editor 2 and didn't put settings from editor 1

[2015-12-11 12:42] mfuentesg commented on #17
Hi Carles, i am working on this bug, now all files are downloaded in one step.
This action not validates that the plugin was before installed.

Issue https://github.com/mfuentesg/SyncSettings/issues/12

[2015-12-13 20:24] mfuentesg opened #18 "add headers parameter to get all gists"

[2015-12-13 21:03] mfuentesg opened #19 "[GistAPI] all request should be authenticated"

[2015-12-14 00:12] #19 closed

[2015-12-14 00:12] #18 closed

[2015-12-16 13:32] mfuentesg opened #20 "add include files option on settings"

[2015-12-16 14:03] mfuentesg opened #21 "add regex support to excluded_files option"

[2015-12-16 15:14] mfuentesg opened #22 "Not Upload/Download settings files of not installed packages"

[2015-12-18 02:25] mfuentesg opened #23 "Error Filter by Extension"

[2015-12-18 02:25] mfuentesg opened #24 "Create file inside an un existent folder"

[2015-12-28 18:17] #24 closed

[2015-12-29 13:04] #23 closed

[2015-12-29 13:10] #21 closed

[2015-12-29 19:47] mfuentesg opened #25 "tracking to specific files and automatic upload"

[2015-12-29 20:31] mfuentesg opened #26 "Add Delete and Create command"
Allow delete the current gist

[2015-12-31 13:59] #26 closed

[2015-12-31 14:05] #25 closed

[2016-01-04 11:25] mfuentesg opened #29 "Add osx support on travis file"
[code]

[2016-01-04 11:45] mfuentesg opened #30 "Filter regex fail on windows"

[2016-01-06 19:16] mfuentesg commented on #29
OS X does not has support for python

[2016-01-06 19:16] #29 closed

[2016-01-09 16:19] #30 closed

[2016-01-11 10:47] #22 closed

[2016-01-18 12:06] benfrain opened #31 "Packages are not downloaded and installed - should they be?"
I'm not sure if SyncSettings should be doing this or not.

When I run `sync-settings: download` it does it's thing. However, even after a restart, packages that are one instance of Sublime are not installed on the current one.

For example, at work I have 'AceJump' installed and have created a sync-settings upload there. However, when I run `sync-settings: download` on my home computer (which does

[2016-01-18 13:40] mfuentesg commented on #31
Hi Ben,

Sync Settings just sync the settings files.
If the sync process include the package control settings file and found a package that is not installed package control will install it automatically.

[2016-01-18 13:45] benfrain commented on #31
Hi, I have not amended the default settings. Do I need to pass the package-control settings file into the config in order for the sync-settings to see it?

[2016-01-18 13:51] mfuentesg commented on #31
can you paste here the content of the logs file?

Execute `Sync Settings: Show Logs` command

[2016-01-18 14:28] benfrain commented on #31
Hi sure (mangled the token ID):

[code]

[2016-01-18 22:28] mfuentesg commented on #31
It is not neccesary add the package control settings file to the configuration.

[2016-01-19 21:57] benfrain commented on #31
OK, so should this have worked?

[2016-01-20 23:23] mfuentesg commented on #31
Yup

[2016-01-20 23:30] benfrain commented on #31
Ok. Is there anything else you need me to do to ascertain whether this is an actual bug?

[2016-01-21 13:30] mfuentesg commented on #31
Can you check in `PackageControl` settings file, if is included your lost package (`a.k.a AceJump`) after download your settings file with `SyncSettings`?

[2016-01-22 23:26] benfrain commented on #31
Hi, no, this is all I got:

[code]

[2016-01-23 21:37] #8 closed

[2016-01-23 21:38] mfuentesg commented on #17
Closed by Issue #12

[2016-01-23 21:38] #17 closed

[2016-03-14 14:37] #31 closed

[2016-03-14 14:37] #12 closed

[2016-04-26 02:40] dtunes opened #33 "Doesn't seem to work on multiple devices"
I've got it working on one machine, then tried on a different machine, tried with different and the same auth tokens and still no go.

When using Sync Settings: Download, I get the message on the status bar saying that the files have been downloaded and to restart Sublime, after doing so, it seems that even Sync Settings is removed and no settings come across from the gist.

[2016-04-27 10:26] myasseen opened #34 "stopped working"
No matter how I tried to create and upload, it shows me a progress and the sublime status bar but nothing uploaded and no logs recorded.

I tried to uninstall and reinstall.

I am sure of the access token and the gist Id it was working before but all of a sudden it stopped working.

it will be appreciated if you can help.

[2016-04-27 12:23] mfuentesg commented on #33
Thanks for your feedback, i will review that.

tell me, which are your os's and the sublime text versions?

[2016-04-27 12:23] mfuentesg commented on #34
Thanks for your feedback!

I will review that.

[2016-04-27 12:52] mfuentesg commented on #34
it is rare, because i have not uploaded a new version.

I am try to test some common bugs, but the plugin is working without problems.

[2016-04-27 12:54] mfuentesg commented on #33
You can paste here the console output after execute the download command?

[2016-04-27 12:56] dtunes commented on #33
Mac OS X at home and work, also tried on another work machine with Windows 10.

Sublime text 3 in all machines.

[2016-04-27 12:59] myasseen commented on #34
so what do you think the problem could be?
is it the os, the windows firewall, the sublime it self, the gist (private / public)??

[2016-04-27 13:04] myasseen commented on #34
Traceback (most recent call last):
  File "sync_settings.sync_settings_manager in E:\Software\Portable Apps Menu\PortableApps\Sublime Text Build 3065 x64\Data\Installed Packages\Sync Settings.sublime-package", line 115, in gist_api
  File "sync_settings.libs.gistapi in E:\Software\Portable Apps Menu\PortableApps\Sublime Text Build 3065 x64\Data\Installed Packages\Sync Settings.sublime-package", li

[2016-04-27 13:21] myasseen commented on #34
Sorry for bothering you.

it was some other git plugin that causes this plugin to stop working, I un-installed all git plugins and all is OK now.

[2016-04-27 13:21] #34 closed

[2016-04-27 13:22] mfuentesg commented on #34
No problem!

[2016-04-27 20:42] dtunes commented on #33
Hi,

fresh install on the windows machine, installed Sync Settings and added token etc. When doing a Sync Download, this is what I get.

'charmap' codec can't encode character '\x80' in position 0: character maps to <undefined>
reloading Packages/User/Package Control.sublime-settings
reloading Packages/User/Preferences.sublime-settings

But, on the first machine which I created the gist with in th

[2016-04-28 05:14] xianghongai opened #35 "full backup of all?"
like Atom, full backup of all?
have a lot of plug-ins and configuration.

[2016-04-29 12:29] mfuentesg commented on #35
Full Backup.

all files inside User Folder.

[2016-04-29 12:31] #33 closed

[2016-04-29 12:31] #35 closed

[2016-04-29 15:53] dtunes commented on #33
did you manage to replicate this problem? not sure if it is something related to your plugin or not... Can you offer anything?

[2016-05-08 14:47] kumiao opened #36 "only support path： Sublime Text 3\Data\Packages\User"
only support path： Sublime Text 3\Data\Packages\User
but i want sync the file in path：Sublime Text 3\Data\Packages\HTML-CSS-JS Prettify\ .jsbeautifyrc

what should I do？

[2016-05-09 11:36] mfuentesg commented on #36
By default, the plugin upload all files inside the User folder. Any other path will be ignored.

But, this can be a new feature, extending the `included_files` option.

[2016-05-09 11:46] mfuentesg opened #37 "Possible features"
* [x] Check the current version of the Gist
* [ ] Allow include other paths in `included_path` option
* [x] Verify the existence of the gist after load the plugin
* [x] Allow to delete the current Gist
* [x] ST3 - Replace status bar messages by `show_popup` function
* [ ] Autocreate issue when an error is thrown out

[2016-06-14 12:56] Place1 opened #38 "having an issue, package seems to be broken"
using any command results in an error like this:

[14/06/2016 - 22:49:49] ERROR: [Gist can't created] - Code 404 - Not Found, File: sync_settings.libs.gistapi in /Users/James/Library/Application Support/Sublime Text 3/Installed Packages/Sync Settings.sublime-package - Line: 39

not really sure what's going on. I installed via package control.

[2016-06-15 03:16] mfuentesg commented on #38
Are you trying to create an Gist?

[2016-06-15 03:19] hubplace1 commented on #38
Yeah I had my access token in the config.
I manually created a gist and put the id in the config as well and nothing seemed to work. Perhaps my config is wrong? Could you post an example config maybe (if you think that's the issue)

[2016-06-15 03:20] Place1 commented on #38
Oops. The above is me.

[2016-06-15 03:28] mfuentesg commented on #38
https://github.com/mfuentesg/SyncSettings/blob/master/SyncSettings.sublime-settings

This file has the available settings

[2016-06-15 04:00] Place1 commented on #38
Yep cool, that's what i was using. Nothing works with this config
{
	"access_token": "<<my access token>>",
}

and nothing works with this either
{
	"access_token": "<<my access token>>",
	"gist_id": "<<gist id for gist i manually created>>"
}

[2016-06-15 11:59] mfuentesg commented on #38
Okay, give me some of time now i do not have sublime.

[2016-06-15 12:00] mfuentesg commented on #38
Thanks for the report

[2016-06-21 14:08] #36 closed

[2016-06-29 19:22] #37 closed

[2016-06-29 19:25] mfuentesg commented on #38
Soon a new version! ;)

[2016-06-29 19:25] #38 closed

[2016-07-13 20:36] ark-tds opened #41 "if `auto_upgrade` is true, will only download ?"
If `auto_upgrade` is true, whether SyncSettings will automatically only download a new settings on Gist to ST ? or only upload a new settings on ST to Gist ? or both download and upload ?

[2016-07-14 17:58] mfuentesg commented on #41
Hi,

The auto_upgrade just download the latest settings on your gist!

[2016-07-14 18:17] ark-tds commented on #41
I got it.
Thanks for rewriting README.md 😄

[2016-07-14 18:17] #41 closed

[2016-07-14 18:18] mfuentesg commented on #41
No problem!

[2016-07-21 12:19] kromonos opened #42 "sync_settings_cache links to wrong directory"
OS: Windows 10 Pro x64
ST: 3 Build 3114 64Bit
[code]
Maybe you want to change from \Data\Installed Packages\Sync Settings.sublime-package\ to \Data\Packages\Sync Settings\ like other plugins do?

[2016-07-21 13:23] mfuentesg commented on #42
Hi, i will try with a portable version. ;)

Thanks

[2016-07-21 19:15] kromonos commented on #42
Maybe same problem on installed version:
[code]

[2016-07-21 19:17] mfuentesg opened #43 "Change logs and cache folder"
maybe `~/.sync_settings/*`

[2016-08-06 03:41] imbubble opened #45 "downloading append a newline in configfile"
- Arch Linux 4.6.4-1-ARCH x86_64
- ST3 build3114
- SyncSettings 2.3.1
- Python 3.5.2

i have a file named `config_file1` was uploaded. but every time run `Sync Settings: download`, a newline is appended. with time `Sync Settings: upload`s and `Sync Settings: download`s makes lots of newlines append.

[2016-08-06 23:47] mfuentesg commented on #45
Hey @imbubble thanks for your comment
I will review this issue ;)

[2016-09-09 18:41] xdmiodz commented on #42
looks like the issue makes the plugin worthless - I can't download my backup from gist to a fresh sublime installation. even more, the plugin removes itself in the process!

[2016-09-09 19:09] xdmiodz commented on #42
Here is what happens when I try to download a backup with SyncSettings

Mac OS X, ST3

[code]

[2016-09-16 14:05] skegel13 opened #46 "Download doesn't work and clears Gist ID"
I am having an issue downloading my settings. I am using dev version 3122 on Linux Mint. I had no issues with the same version on Windows 10.

Whenever I click download, the Gist ID is removed from my settings and nothing is downloaded. Here is the output from the console (the sync settings log is blank):

[code]

[2016-09-22 13:25] sdouche commented on #42
same thing happens to me:
[code]

[2016-09-22 13:44] mfuentesg commented on #42
I know this bug and i am working on it. Thanks for your feedback

[2016-09-22 23:28] #42 closed

[2016-09-22 23:28] #43 closed

[2016-09-24 02:21] mfuentesg commented on #45
Fixed #49

[2016-09-24 02:21] #45 closed

[2016-09-24 14:15] mfuentesg opened #50 "Remove SyncSettings references from download process"
the configuration file should be excluded from the download process and must be in PackageControl.sublime-settings file

https://github.com/mfuentesg/SyncSettings/blob/master/sync_settings/commands/download.py#L21

[2016-09-26 07:39] heimpogo opened #51 "Not able to exclude arbitrary files"
It would be great if it would be possible to exclude  arbitrary files. In my case I have problems with cache files created by Package Control that are named `Package%20Control.cache%2F01524fae79697630d0454ba3fabd9414` or similar.
Excluding them by  extension does not work. I'm afraid I need wildcards for these.

[2016-09-26 15:35] mfuentesg commented on #51
which is the full path to that file?

[2016-09-27 17:53] jt3k commented on #46
i have same problem.

how to fix it ?

[2016-09-28 01:30] mfuentesg commented on #46
hi @jt3k i am working on this bug, soon you will have news

[2016-09-28 08:04] JeremyNikolic commented on #46
Hi,
Another case of disapearing gist_id.

At work we have a restricted network which block the connection to certain remote addresses.
If I'm on this restricted network and try download or upload, as the gist can not be reached nothing happens and the gist_id is removed, it would be nice to have a message or at least not clear the gist_id.
At the moment I have to check which netwrok I'm on before

[2016-09-28 13:28] mfuentesg commented on #46
Thanks @JeremyNikolic

[2016-09-28 13:30] mfuentesg commented on #50
* *Download* clear gist id without connection
* Add extra cases to log messages

[2016-09-28 14:50] #50 closed

[2016-09-28 15:27] #46 closed

[2016-09-28 17:14] jt3k commented on #46
fixed ?

[2016-09-28 17:33] mfuentesg commented on #46
soon i will release a new version

[2016-09-28 19:26] mfuentesg opened #56 "After download SyncSettings is uninstalled"

[2016-09-28 19:38] #56 closed

[2016-09-29 03:01] ferronrsmith opened #58 "Fails with Dev Channel, Build 3125"
[28/09/2016 - 23:00:02] ERROR: ['Traceback (most recent call last):\n', '  File "sync_settings.commands.download in /home/ferron/.config/sublime-text-3/Installed Packages/Sync Settings.sublime-package", line 25, in __download_request\n', "KeyError: 'SyncSettings.sublime-settings'\n"]
[28/09/2016 - 23:00:17] ERROR: ['Traceback (most recent call last):\n', '  File "sync_settings.commands.upload in /

[2016-09-29 06:26] tomahl opened #59 "oscrypto-ca-bundle.crt, Build 3126"
Hi,

SyncSettings v.2.4.0

I can't recall the the file named "oscrypto-ca-bundle.crt" has been synced before and according to this [post](https://forum.sublimetext.com/t/generating-oscrypto-ca-bundle-crt-after-mac-os-install-and-security/23020) it doesn't sound like it should either. Maybe you could put it in the default "excluded_files"?

[2016-09-29 08:03] ildarkhasanshin commented on #58
+1
3126

[2016-09-29 09:35] aarongarciah opened #60 "Litle improvement in the docs"
Hi! This package absolutely rocks! A huge improvement in the workflow for many users as myself. I noticed one thing that maybe other users come across sometime. If you provide in the configuration file a public _gist_id_, GitHub will revoke the _access_token_ provided in the config file after one use due to security concerns. Would be nice to specify this issue in the [docs](https://packagecontrol

[2016-09-30 02:42] mfuentesg commented on #60
Thanks @aarongarciah , by security the plugin creates a secret Gist ignoring gist visibility

[2016-09-30 02:43] mfuentesg commented on #59
Thanks @tomahl , you are welcome to create a new Pull Request with your changes

[2016-09-30 02:44] mfuentesg commented on #58
Thanks @ferronrsmith

[2016-09-30 08:52] aarongarciah commented on #60
Hi @mfuentesg. I misunderstood, I thought that the _gist_id_ was required. Maybe specifying that this option is not required because the Package will create a gist automatically is a good idea.

Thanks!

[2016-09-30 08:52] #60 closed

[2016-09-30 13:16] #59 closed

[2016-10-01 15:53] #58 closed

[2016-10-02 03:59] ferronrsmith commented on #58
This bug is still present

[2016-10-02 04:01] ferronrsmith opened #63 "Fails with Dev Channel, Build 3125"
Same as : #58

[01/10/2016 - 23:58:34] ERROR: ['Traceback (most recent call last):\n', '  File "sync_settings.commands.upload in /home/ferron/.config/sublime-text-3/Installed Packages/Sync Settings.sublime-package", line 20, in __upload_request\n', '  File "sync_settings.sync_manager in /home/ferron/.config/sublime-text-3/Installed Packages/Sync Settings.sublime-package", line 91, in get_files_con

[2016-10-02 04:42] ferronrsmith commented on #63
When I moved reduce outside the try catch. Seems to be failing there

[code]

I now get

[02/10/2016 - 00:22:26] ERROR: 'module' object has no attribute 'quote'
[02/10/2016 - 00:22:26] ERROR: 'module' object has no attribute 'quote'
[02/10/2016 - 00:22:26] ERROR: 'module' object has no attribute 'quote'
[02/10/2016 - 00:22:26] ERROR: 'module' object has no attribute 'quote'
[02/10/2016 - 00:22:26]

[2016-10-02 05:45] ferronrsmith commented on #63
Submitted : https://github.com/mfuentesg/SyncSettings/pull/64

[2016-10-03 00:55] #63 closed

[2016-10-04 11:54] jt3k opened #67 "Syncing not works"
i update sync-settings to version 2.4.2 on my laptop (from apple) and on my computer (apple).

i upload settings on computer
and download settings on laptop

After restart sublimetext_on_laptop in command-pallete (cmd+shift+p)  i not find many menu items. (e.g. sync settings upload)

**FIX IT** plz and Close the issue  **AFTER** fixing.

thnx.

[2016-10-04 23:21] mfuentesg commented on #67
Paste the log file content here

macOS: `cat ~/.sync-settings.log | pbcopy`

[2016-10-05 07:12] jt3k commented on #67
my ~/.sync-settings.log from laptop
[code]

[2016-10-06 01:54] mfuentesg commented on #67
Please, paste the `Package Control.sublime-settings`file content here

[2016-10-06 20:26] jt3k commented on #67
Package Control.sublime-settings
[code]

[2016-10-11 10:55] adeonir commented on #67
I got a similar error:

[code]

[2016-10-11 11:10] mfuentesg commented on #67
@adeonir this appears during the download process?

Can you paste the `Package Control.sublime-settings` file content?

[code]

[2016-10-11 11:18] mfuentesg commented on #67
@jt3k can you paste the `Package Control.sublime-settings` file content from `gist.github.com/...`

[2016-10-11 12:22] jt3k commented on #67
i try "Create and Upload" on computer    (after this  my gist id is refreshed in **SyncSettings.sublime-setings**)

Then i copy **SyncSettings.sublime-setings** to my laptop, and try "Download settings"
after restart nothing happened.

this my secret  gist https://gist.github.com/jt3k/1ec07b25350de2d1098d515e91bb5d5e if it helps

**Package Control.sublime-settings** file
[code]

after trying  down

[2016-10-11 12:27] mfuentesg commented on #67
thanks @jt3k

[2016-10-11 12:36] adeonir commented on #67
@mfuentesg same happend here.
And I forgot to mention before, i'm using build 3126.

[2016-10-11 12:51] jt3k commented on #67
me too 3126

[2016-10-12 08:57] sdouche commented on #67
I had the same issue. I created a new gist and now it works.

[2016-10-12 11:05] jt3k commented on #67
@sdouche
i try this
not works for me...
what is your operating system?

[2016-10-13 09:00] sdouche commented on #67
sorry @jt3k I can't remember what I do to fix the issue. I'm on Linux.

[2016-10-13 23:18] mfuentesg commented on #67
@jt3k or @adeonir
can you share me your conflictive gist? Thanks

[2016-10-14 11:11] jt3k commented on #67
yep https://gist.github.com/jt3k/1b6bb463389393d1b28157dfa2faee7e

[2016-10-14 16:13] adeonir commented on #67
here: https://gist.github.com/adeonir/16d514294345a908e0c3b5c338bfdc43

[2016-10-16 00:00] mfuentesg commented on #67
@jt3k your file has the follow information

it is very weird because the content is empty and the file size is 1327 Kb
[code]

[2016-10-18 11:32] jt3k commented on #67
@mfuentesg  I will be on holiday for weaks.  After this i try delete all config-files and reinstall plugins.

[2016-10-20 19:40] lestevam opened #68 "Download Settings"
I can not download the settings. I set my gist_id and the access_token, but when I run the "Download" command, it shows me the success message (in green) and asks to restart the ST. After the restart my settings are not loaded, so when I see the log file, generated the following error:

[20/10/2016 - 16:47:47] ERROR: It has generated an error when to update or create the file /home/luizestevam/.co

[2016-10-20 19:45] #68 closed

[2016-10-20 19:46] lestevam commented on #67
I have had the same problems. I set my gist_id and the access_token, but when I run the "Download" command, it shows me the success message (in green) and asks to restart the ST. After the restart my settings are not loaded, so when I see the log file, generated the following error:

[20/10/2016 - 16:47:47] ERROR: It has generated an error when to update or create the file /home/luizestevam/.confi

[2016-10-20 21:45] mfuentesg commented on #67
@lestevam can you share me your gist link?

Thanks

[2016-10-21 13:20] lestevam commented on #67
Yes, see: https://gist.github.com/lestevam/42db9ade45a564d4c37d7891b5891c7f

Thanks!

[2016-10-21 14:29] mfuentesg commented on #67
@lestevam @jt3k @adeonir I don't know why your files this behavior.

So, the request returned the following response:

[code]
**truncated: true** and **raw_url** is the key.
I am will update the plugin to accept this cases getting the file content from the `raw_url`

[2016-10-23 02:35] #67 closed

[2016-10-26 21:58] erlonpr opened #70 "Doubt about the component configuration"
I have the following question:

After paste the token in the session "User Settings", I click save, but the Sublime Text 3 returns me the following error: "Error trying to parse settings: Expected value in Packages\User\SyncSettings.sublime-settings:1:1"
What should I do to solve the problem?

[2016-10-26 23:57] mfuentesg commented on #70
Your File should to have the following structure:

[code]

The following error is triggered by **Package Control**, when the file has not a valid format, like:

[code]

![captura de pantalla 2016-10-26 a la s 20 52 39](https://cloud.githubusercontent.com/assets/8986996/19749257/2ec22f98-9bbe-11e6-88a5-c6dc4f4d5bf4.png)

[2016-10-27 00:27] erlonpr commented on #70
Thanks a lot for the help, my friend.

Em qua, 26 de out de 2016 22:00, Marcelo Fuentes <notifications@github.com>
escreveu:

[2016-10-28 01:50] #70 closed

[2016-10-31 07:17] jt3k commented on #67
YEPP! NOW IT WORKS!!!

THNX @mfuentesg !

[2016-11-01 21:19] Carlovan opened #71 "Including files outside the User folder"
I have a lot of snippets in `Packages/Cpp/Snippets` folder and I'd love to be able to sync them.
I tried including `"../Cpp/Snippets"` in the `included_files` configuration option but it doesn't work.

[2016-11-13 19:24] dtunes opened #72 "Cannot download,upload"
![image](https://cloud.githubusercontent.com/assets/1164234/20248135/464ef960-aa42-11e6-8688-33d32178c373.png)

Tried deleting the package and reinstalling it after restarting Sublime, still no go. It doesn't even outputs anything into the logs file.

Internet is working fine, started happening last week.

Anyone experiencing the same issue?

[2016-11-16 16:34] advancid opened #73 ""Package%20Control.sublime-settings" instead of "Package Control.sublime-settings""
Hello,

I like this package but it generates the file "Package%20Control.sublime-settings" instead of "Package Control.sublime-settings". Maybe it is the API which does this? Or maybe it is [this line](https://github.com/mfuentesg/SyncSettings/blob/master/sync_settings/sync_manager.py#L100)?

[Here](https://gist.github.com/advancid/d0bf709230aaf3316368db971912c5df) is a gist that the plugin genera

[2016-11-16 20:15] dtunes commented on #73
Are you having problems with SyncSettings because of this? I checked mine and the the file name on my gist is the same as yours, but when it syncs it must be converting the %20 to space.

[2016-11-17 02:24] mfuentesg commented on #73
Hi @advancid , this is the unique way to upload files with special chars like spaces. When the files are downloaded the special chars are replaced.

[2016-11-18 11:47] #73 closed

[2016-11-22 01:18] mfuentesg commented on #51
https://docs.python.org/3/library/fnmatch.html

[2016-11-22 01:18] mfuentesg commented on #72
Paste here the log file content

[2016-11-22 01:31] dtunes commented on #72
I would've, but as I stated above, it doesn't even touch the log file...
![sublime-error](https://cloud.githubusercontent.com/assets/1164234/20507545/268d6e52-b0c0-11e6-8f96-a4320655f5fe.gif)

As you can see, the error doesn't output anything into the logs file.

I've also tried at home "on a different computer" still no go.

[2016-11-22 01:36] mfuentesg commented on #72
It is very weird, is the console also empty?

[2016-11-22 19:14] dtunes commented on #72
Just confirmed, no nothing.. I've tried uninstalling/reinstalling Sync Settings, still no go. I'll try to reinstall Sublime and hopefully that will get rid of the issue.

[2016-11-23 18:42] dtunes commented on #72
Ok,

reinstalling didn't work. I then removed everything from Sublime's folder and started from scratch, packagecontrol, SyncSettings and kept installing and testing after that.

I think I found the package that was causing it. https://packagecontrol.io/packages/sublime-github.

After installing that package and restarting sublime, same issue happened, removing the package and restarting, the issu

[2016-11-23 21:17] mfuentesg commented on #72
Hey @dtunes i will try to install that package and test the bug

[2016-11-24 15:40] emamut opened #74 "How to remove a unavailable package"
I love the work you did in this plugin but I have the following message each time I open Sublime. What can I do to remove?

![captura de pantalla de 2016-11-24 10 33 08](https://cloud.githubusercontent.com/assets/134828/20603868/81066db2-b231-11e6-82d8-1a374d126a6b.png)

[2016-11-27 16:31] mfuentesg commented on #74
Hey @emamut , you can edit manually the `Package Control.sublime-settings` file, remove the package reference and upload the new file version.

[2016-11-27 22:51] emamut commented on #74
Thanks!

[2016-11-27 22:51] #74 closed

[2016-11-29 11:54] mfuentesg commented on #72
Hey @dtunes i think that your error is raised by this issue

https://github.com/bgreenlee/sublime-github/issues/89

[2016-11-29 15:45] mfuentesg commented on #72
@dtunes `sublime-github` is the problem

[2016-11-30 11:51] mfuentesg commented on #72
Please close this issue and creates new a on the correspondent package.

Thanks!

[2016-12-07 11:10] fabioperrella opened #78 "Error "The entered token is invalid""
Hi, I'm trying to upload my settings but every time I'm receiving the error `The entered token is invalid`

I created a token in github with full access to everything!

Here is the log:
[code]

Is this a bug?

What can I do to debug it if not?

[2016-12-07 19:39] mfuentesg commented on #78
Your `access_token` is invalid or not exists, create a new `access_token` in github.

https://github.com/settings/tokens/new

[2016-12-07 19:39] #72 closed

[2016-12-07 21:11] #51 closed

[2016-12-08 00:30] fabioperrella commented on #78
I've tried to create again, but I got the same error!

This is my token:

![image](https://cloud.githubusercontent.com/assets/302303/20992647/98ac1cfa-bccc-11e6-9a98-96ce8bab88fd.png)

If you want, I can send you in a message to you debug

[2016-12-08 00:33] mfuentesg commented on #78
Send the access token to my email `marceloe.fuentes@gmail.com`

[2016-12-08 00:45] fabioperrella commented on #78
I installed the plugin again in PC at home and it worked! (the error was happening in my PC at office)

I will close the issue, if it happens again, I open it again.

Thank you!

[2016-12-08 13:13] fabioperrella commented on #78
Today I tested in PC at work using the same configuration as I used in my PC at home and the error happened again! Do you have any suggestion how to debug it?

[2016-12-08 14:11] mfuentesg commented on #78
Send the access token to my email marceloe.fuentes@gmail.com

[2016-12-09 14:49] mfuentesg commented on #78
I can't reproduce your error :(, paste here the content of

* `Package Control.sublime-settings`
* `.sync_settings.log`
* `.sync_settings.cache`

[2016-12-12 09:58] fabioperrella commented on #78
Where can I find these files?

On Fri, Dec 9, 2016 at 12:49 PM, Marcelo Fuentes <notifications@github.com>
wrote:

[2017-01-03 10:10] fabioperrella opened #79 "Showing "set gist_id" when it already set"
Hi!

When I'm trying upload the settings, it is showing a warning to set the `gist_id` on configuration file, but my configuration file already has that key!

![image](https://cloud.githubusercontent.com/assets/302303/21604730/08c90330-d18c-11e6-93bf-9a94649442bf.png)

[2017-01-03 10:18] fabioperrella commented on #79
I restarted sublime and it did not happen again

[2017-01-03 10:18] #79 closed

[2017-01-03 10:47] fabioperrella commented on #78
Hi,

I looked the source code and I did the same request as is done [here](https://github.com/mfuentesg/SyncSettings/blob/0bbfa2491d5db80fc2259a43088c58119daa1c34/sync_settings/libs/gist_api.py#L21)

[code]

But when trying to upload the settings, the error still the same!

The error in log file:
[code]

It seems the plugin is not using my key to do this request, but I am not sure. I tryed to inte

[2017-01-03 10:56] fabioperrella commented on #78
I restarted sublime and it is working! I think the problem can be some cache anywhere

[2017-01-03 10:56] #78 closed

[2017-01-06 10:12] fabioperrella opened #80 "Include SyncSettings.sublime-settings to exclude folders as default?"
Hi, I've noticed that if `SyncSettings.sublime-settings` file is pushed to github (when upload sync), it triggers a behavior in github to disable the `access_token`.

[code]

So my suggestion is to add this file to `excluded_files` as default, or to add a warning in Readme about it.

Wdyt?

[2017-01-08 00:33] mfuentesg commented on #80
`SyncSettings.sublime-settings`is ignored by default when uploading and downloading your settings

[2017-01-08 18:30] fabioperrella commented on #80
But I received this email above many times when using the plugin to upload the settings. It stopped only when I added this file to `excluded_files`

[2017-01-08 20:26] mfuentesg commented on #80
Ok, i will review this behavior

[2017-01-17 12:50] Trevor- commented on #71
Yep, I'd like this feature too

[2017-01-19 08:42] RonnyPfannschmidt opened #81 "support normal git repos?"
its quite a pain to use gists, whats the reason for not having support for normal git repos?

[2017-01-20 18:31] mfuentesg commented on #81
why i need use git repos?
what advantages i have using this format?

[2017-01-20 20:54] RonnyPfannschmidt commented on #81
well, a gist is bascially just a git repo with a http api hosted by exactly 1 company
being able to use git repos directly would enable hosting the settings syncing whereever (or even use a selfhosted sync server)

[2017-03-23 15:13] azinasili opened #82 "Unable to sync packages"
I was able to setup SyncSettings on two computers without any issues. My computer at home (Mac) and my work computer (Windows). When I run `Sync Settings: Download` on the windows machine it is able to fetch my settings, however it does not sync my installed packages. I was under the impression this package would be able to do this, is there something I'm doing incorrectly?

[2017-03-24 09:05] SGarridoDev opened #83 "utf-8 error"
Hi @mfuentesg,

Good work in this package. Congratulations!

I have one error when syncronize my settings with sublime text 3. Is there:

ERROR: 'utf-8' codec can't decode byte 0xf0 in position 24: invalid continuation byte

Any suggestions?

Thanks in advance

[2017-04-28 13:07] bluetidepro opened #84 "Access Token Question"
When creating the token, is only the `gist` scope the only permission needed? I didn't see anything in the docs that said.

![screen shot 2017-04-28 at 8 06 10 am](https://cloud.githubusercontent.com/assets/410701/25529897/ac93234e-2be9-11e7-9563-9f82403de8a4.png)

[2017-04-29 13:47] mfuentesg commented on #84
Yes, it is. You don't need other permission.

[2017-04-29 22:47] itslooklike commented on #71
Hi! absolute path didn`t work too?
I try
[code]
but `emmet` not add in gist

[2017-05-19 06:51] AllanLRH opened #85 "Add option to exclude certain keys in certain files?"
Would be nice if it was possible to exclude certain keys in certain files... If it was just on download, that would be fine with me.

I'm using Windows and Mac, and the same font and theme settings don't render on both platforms (and screen resolutions).

Another option would be to add a hook-system, where one could add a custom python-script which manipulates a file before download or upload of i

[2017-05-23 01:35] #84 closed

[2017-07-20 12:39] 7i4g0 opened #87 "Proxy support"
Sync Settings: Apparently you are having problems with the internet connection.

It's probably because I have proxy.

I have try this in the User Settings file but not work:
[code]

How I can set proxy?

[2017-07-24 15:35] nodkrot opened #88 "Download settings from public gist without access_token"
I would like to generate a github token only for my main machine, and have all other just download the settings with gist_id? Currently it requires me to add both to download even if the gist is public.

[2017-07-26 02:03] mfuentesg commented on #87
He @7i4g0, good feedback i will consider your issue as a new feature ;)

[2017-07-26 23:57] mfuentesg commented on #88
Thanks @nodkrot i will review this issue

[2017-08-04 14:16] jwarkentin opened #89 "Auto upload settings changes"
Would it be possible to add a feature to automatically upload changes to settings when something changes? I haven't seen any way to do that with this plugin as it stands but it would be very useful.

[2017-08-08 06:32] geniusupgrader opened #90 "Colour scheme needs to load first"
When "downloading" the sublime settings with SyncSettings, the colour scheme is not yet loaded and I get over 100 of these Messages: Error loading colour scheme bla bla.
And I need to click every one of them, in order to proceed to the next installation of the "downloading".
So please load the colour scheme first! It is really a design flaw.

[2017-08-16 17:48] rdlaner commented on #87
I have the same issue. My work uses a corporate proxy which is preventing this plugin from accessing github. Would love support for adding a proxy!

[2017-08-16 18:08] mfuentesg commented on #87
hi guys, i really sorry lately i am did very busy. I will try to do an upgrade to the plugin with all registered issues.

[2017-09-09 16:28] utjduo commented on #71
I'm trying to get this to work but what ever I do it doesn't upload.
My folder is "C:\Users\Musikdator\AppData\Roaming\Sublime Text 3\Packages\CC-Extension-Builder-for-Sublime-Text"
I have tried with both \\ and / slashes. I have tried single files also but it just won't upload.

This is how my code looks like:
[code]

[2017-09-20 07:57] BPagoaga opened #94 "Can't edit/create/upload settings"
I had an alert while trying to upload my settings to an existing gist. The message asked to open an issue with the last log :

[code]

I can't either create and upload settings, or manually create a gist and upload my settings.

[2017-09-21 08:17] BPagoaga commented on #94
Nevermind, I simply did not allow the sync settings token to access gist...

[2017-09-21 08:17] #94 closed

[2017-10-25 19:57] lestevam opened #95 "Option to check the current settings"
It would be possible to add a feature to check if current settings is the same in the repository. I see two possibles flows which this feature will help us.

1) We don't really know if our repository it's updated;
2) We installed/deleted a package and don't know if we sended that update for the repository;

This feature will help us not to overwrite settings by accident.

Tks!

[2017-12-19 20:41] igorlemosvicente opened #96 "Is there a way to use repositories?"
Gitlab or even github.

[2018-02-11 07:47] sfantacy opened #97 "can u support to using http proxy"
i think just requesting with proxy is a useful function
and also it's easy to reach

[2018-02-13 19:17] nahtnam commented on #82
Hey, just had the same issue but I noticed if I left sublime open for a while (around 5 minutes), everything auto installed.

[2018-02-16 01:07] azinasili commented on #82
Guess I'll have to give it another shot

[2018-02-25 23:51] arthurokonkwo opened #98 "I can't install Sync Settings via package control on sublime text 3 build 3143"
I followed the installation instruction at [Sync Settings package page](https://packagecontrol.io/packages/Sync%20Settings) but when select Sync setting in the list of packages to be installed, sublime will return an error in the console.
Below is the error message

`Package Control: The dependency 'requests' is not currently installed; installing...
Package Control: The dependency 'requests' is n

[2018-02-26 02:14] mfuentesg commented on #98
Hey @arthurokonkwo , that is not a problem of Sync Settings. Try with this solution https://github.com/wbond/package_control/issues/874#issuecomment-73521706

[2018-02-26 07:15] Antroll commented on #98
Same as @arthurokonkwo. @mfuentesg, In this case, the Package Control is not in the ignore sheet
[screenshot](https://image.prntscr.com/image/4PqEz_UDQK_hb4ZMIoFcOA.png)

[2018-02-26 08:06] arthurokonkwo commented on #98
Hello, @mfuentesg  I followed the link but Package Control is not on the ignore list. I re-installed Sublime and tried again, yet no solution.
So when I try o install, I get the same error.
<img width="500" alt="sync settings error" src="https://user-images.githubusercontent.com/7423077/36659296-51dbff7c-1ad4-11e8-8beb-d48e4e51eb92.PNG">

[2018-02-26 08:11] arthurokonkwo commented on #98
I guess you may need to pay more attention to  this

`Package Control: The dependency 'requests' is not currently installed; installing...`
`Package Control: The dependency 'requests' is not available`
`Package Control: The dependency 'requests' could not be installed or updated`

[2018-02-26 21:22] Antroll commented on #98
So, this isn't an issue with Sync Settings—it's an issue with Package Control's ability to interface with GitHub now that GitHub has dropped support for an older cryptography method.
[wbond/package_control#1334](https://github.com/wbond/package_control/issues/1334)

[2018-02-27 09:28] arthurokonkwo commented on #98
Finally, the problem has been fixed by [Wbond](https://github.com/wbond). I just check for sublime update and then tried installing Sync Setting via package control and it instaled successfully.

[2018-02-27 09:28] #98 closed

[2018-03-01 13:34] mfuentesg commented on #97
WIP

[2018-03-05 08:51] TheBestPessimist commented on #96
This is a duplicate of #81

[2018-03-05 08:52] TheBestPessimist commented on #81
+1

[2018-03-07 16:51] brian-k opened #99 "False internet connection issue"
I'm receiving an error from Sync Settings stating I have a problem with my internet connection, and therefore cannot upload/download my gist.  Sync Settings has worked well for me since 2015, so this is a new issue.  Package Control in Sublime Text 3 and everything else works fine when accessing the Internet.  The log for Sync Settings is empty.

I've tried to diagnose the issue, but I have been u

[2018-03-08 11:30] Derevar commented on #99
Got the same issue. But only behind our corporate firewall. It worked in the past but they changed something. (I think someting about the handling of encrypted traffic)
The thing is, settings sync for VS Code works flawlessly from here still. (https://github.com/shanalikhan/code-settings-sync)

Maybe this can help figure it out.

[2018-03-08 13:54] brian-k commented on #99
I don't have problems with VS Code, but I think that sync extension is from another author.  I am not behind a corporate firewall and the issue occurs regardless of the type of connection (home, corporate, tethered phone).

[2018-03-08 13:58] Derevar commented on #99
The hint with the VS Code extension was more meant for the developers of this sync solution here.
There could be a problem with how the github api is implemented or something like that.

But maybe the problems are not related after all. Under normal home-like circumstanced it works perfectly fine for me.

[2018-03-09 10:05] Derevar commented on #99
I've tried myself in debugging this plugin and at least my issue is "solved". It is indeed the certificate.
![settings_syn](https://user-images.githubusercontent.com/657768/37200093-10436880-2384-11e8-8ae8-019f8950b286.png)

If one would like to ignore the certificates he could change:
`response = requests.get(self.BASE_URL + '/user?access_token=' + token)`
to
`response = requests.get(self.BASE_UR

[2018-03-16 11:50] mozhs commented on #82
@mfuentesg

We means can this plugin sync package list ?

 It seems that you have only sync the plugin config file to gist, but we can't sync the newest packages added in another computed/platform.

Thanks.

[2018-05-09 23:15] bezdupel opened #100 "How to exclude a folder?"
Hello.

Please tell me how to add the `.git` folder to the `excluded_files`.

[2018-05-16 07:27] alexcroox opened #101 "Cannot edit the gist"
Same error when trying to create new gist `[Gist cannot created]`

I've tried removing the plugin and re-installing. Anything else I can try?

[2018-05-24 11:19] mmghv commented on #90
same problem here .. to overcome this I had to first copy the color scheme to sublime folder before downloading the settings .. for me I was using "SublimeLinter" package which rewrites the color scheme into its folder so I copied the "SublimeLinter" to "Packages/User" then downloaded the settings.

[2018-07-26 10:56] nesshoever commented on #101
Same problem here. What I found is that during installation of the package, there is a folder called "requests" created at "%APPDATA%\Sublime Text 3\Packages" instead of the expected "Sync Settings".
That folder contains some generic template files and folders

[2018-07-29 21:05] sammcj opened #102 "Unmaintained?"
Firstly thank you for this wonderful plugin, I've been using it for a long time - it's been very useful and I have never had problems with it syncing around my 4 machines.

Question time,

On the [Sublime Packages site, it shows this package as '[Unmaintained]'](https://packagecontrol.io/packages/Sync%20Settings).

* Is it really unmaintained, I can see there were commits just 3 days ago?
* If so,

[2018-07-29 21:34] marsjaninzmarsa commented on #102
Yeah, 3 days ago there was a commit 98a7308, adding mentioned _Unmaintained_ tag. It was sole activity in repo since Aug 17, 2017.

[2018-07-29 21:35] sammcj commented on #102
Oh, I should have looked at the commit, that's really sad to hear.

What are people using now?

[2018-07-29 21:41] marsjaninzmarsa commented on #102
This one. Works fine, even if unmaintained.

[2018-07-29 21:49] sammcj commented on #102
I agree but I suspect it’ll get removed as part of cleanup at some point?

--
Sam McLeod

[2018-07-29 22:30] marsjaninzmarsa commented on #102
Why should it?

[2018-07-30 23:48] #102 closed

[2018-07-30 23:52] mfuentesg commented on #102
@sammcj i really appreciate your words, but right now i don't have time to maintain this repo.

[2018-10-22 13:41] #99 closed

[2018-11-12 09:19] Luladjiev opened #103 "Exclude pattern of files"
Is it possible to exclude files based on pattern?
For example FileHistory plugin creates files with date suffix (FileHistory_20181112.json) and I would like to exclude them from syncing.

[2018-11-12 09:22] Luladjiev commented on #103
Ugh never mind I've figured it out. FileHistory_*.json

[2018-11-12 09:22] #103 closed

[2018-11-29 02:02] #96 closed

[2019-01-13 16:39] mfuentesg opened #104 "Add hooks support"
The idea behind this feature is, add the ability to execute commands before/after some specific tasks on this plugin. i.e: after upgrade, before upload.

Constraints:
- [ ] Must be configurable (maybe in `Sync Settings.sublime-settings` file)

[code]

- [ ] Must be written as sublime text plugins

[code]

[2019-01-13 16:41] #97 closed

[2019-01-13 17:04] mfuentesg opened #105 "Use variables in `included_files` and `excluded_files`"
With this you could interpolate variables in any path/pattern defined on `(included|excluded)_files` property.

for example:
[code]

For now, we will have:

- ${packages} (sublime settings packages path)

[2019-01-16 00:52] mfuentesg opened #106 "Keep gist full synchronized local/remote"
The current behavior of the plugin, is ignore those files whose path matched with patterns defined in `excluded_files` property.

But, if a file has been deleted directly on the gist page (gist.github.com), that file won't be deleted from the local host. Which means, the next time when a user upload their files, the deleted file will be uploaded again.

proposal: Add a new config `delete_on_sync (

[2019-01-16 03:04] #106 closed

[2019-01-30 02:44] mfuentesg commented on #82
Hey @mozhs, `Sync Settings` assumes that you have the latest version of your settings on `gist.github.com`.
If you  run `Download` command, and your remote settings are out of date, you local settings will be replaced by that backup.

[2019-01-30 02:55] mfuentesg commented on #80
Hey guys, I have fixed that bug [here](https://github.com/mfuentesg/SyncSettings/compare/master@%7B1548211993%7D...master)

I am preparing a new release, with a lot of fixes and improvements.

I hope, next week publish a new release.

[2019-01-30 03:00] mfuentesg commented on #82
Btw, I am preparing a new release, with a lot of fixes and improvements.

I hope next week publish it, which includes the capability to installing packages using package control directly from SyncSettings.

[2019-01-30 03:03] mfuentesg commented on #83
Hey, I have fixed that bug. Check https://github.com/mfuentesg/SyncSettings/pull/107

I will try to deploy a new version the next week!

[2019-01-30 03:06] mfuentesg commented on #88
I have worked in this PR https://github.com/mfuentesg/SyncSettings/pull/107 to solve your issue.

I will try to deploy a new version the next week.

[2019-01-30 10:34] mozhs commented on #82
Wow! Sounds so good, but I'm using Atom and Visual Studio Code now hhhh😎 thanks (o.o)

[2019-01-30 11:05] mfuentesg commented on #82
@mozhs, hahaha , me too. But, a lot of people is still using sync settings, I will give away to them , this new release :)

[2019-01-30 16:59] mfuentesg commented on #80
Fixed https://github.com/mfuentesg/SyncSettings/pull/107

[2019-01-30 16:59] #80 closed

[2019-01-30 17:00] mfuentesg commented on #82
Fixed https://github.com/mfuentesg/SyncSettings/pull/107

[2019-01-30 17:00] #82 closed

[2019-01-30 17:02] mfuentesg commented on #101
@alexcroox, @nesshoever i was working to fix this issue, soon i will release a new version.

Let me know, if you are experimenting the error again.

[2019-01-30 17:03] mfuentesg commented on #100
where `.git` folder is located?

[2019-01-30 17:04] mfuentesg commented on #90
Fixed https://github.com/mfuentesg/SyncSettings/pull/107

[2019-01-30 17:04] #90 closed

[2019-01-30 17:04] mfuentesg commented on #88
Done https://github.com/mfuentesg/SyncSettings/pull/107

[2019-01-30 17:05] #88 closed

[2019-01-30 17:05] mfuentesg commented on #85
fixed https://github.com/mfuentesg/SyncSettings/pull/107

[2019-01-30 17:05] #85 closed

[2019-01-30 17:06] mfuentesg commented on #83
Done https://github.com/mfuentesg/SyncSettings/pull/107

[2019-01-30 17:06] #83 closed

[2019-01-30 17:07] mfuentesg commented on #81
i will try to implement this feature!
i will let you know!

[2019-01-30 17:08] mfuentesg commented on #71
I will try to implement this feature.
I will let you know

[2019-01-30 17:09] mfuentesg commented on #87
Hey guys, in the next i will include this feature.

[2019-02-05 02:02] #87 closed

[2019-02-06 15:52] alexcroox commented on #101
Updated to latest version, same issue I'm afraid. Even tried Create and Upload.

[2019-02-06 15:53] alexcroox commented on #101
[code]

[2019-02-06 16:19] mfuentesg commented on #101
Hey Alex, you are not using the latest version. Because that file (gist_api.py) does not exists anymore.

Try to reinstall it

https://github.com/mfuentesg/SyncSettings/blob/master/sync_settings/libs/gist.py

[2019-02-07 02:22] mfuentesg commented on #101
@alexcroox please, reopen this issue if you are  still experiencing the issue.

[2019-02-07 02:22] #101 closed

[2019-02-07 09:19] nesshoever commented on #101
I cannot reopen the ticket, but this 'request' folder is still created and the settings file is completely empty, so I wouldn't know how to format the settings file to enter gist id and token

[2019-02-07 09:34] alexcroox commented on #101
@mfuentesg strange I updated it before I posted:

![img](https://cl.ly/ced49a945f85/Screenshot%202019-02-07%20at%2009.33.18.png)

I'll try a re-install

[2019-02-09 10:58] gromov-io opened #112 "sync not work :(("
[code]

[2019-02-09 21:55] BoberMod opened #113 "Wrong network error"
I have specified token in the user settings file. When I try to "_Create and Upload_", I get an network error.
![image](https://user-images.githubusercontent.com/8740496/52526676-e3e29400-2cc4-11e9-8a26-1d6ecd44ce75.png)
I tried to specify `gist_id`, then upload/download, but same error. Also tried with https proxy, but it didn't help.

Log file (`sync.log`) is empty.
**OS:** Windows 10 x64
**Subl

[2019-02-10 15:43] medeman commented on #89
This would make this package just perfect for me!

[2019-02-10 17:05] mfuentesg commented on #112
Can you paste the content of `Package Control.sublime-settings` here?

thanks!

[2019-02-10 17:08] gromov-io commented on #112
[code]

[2019-02-10 17:43] mfuentesg commented on #112
Thanks, let me check, to fix this bug!

[2019-02-10 17:44] mfuentesg commented on #113
That error only happens when a connection error was catch , are you using the latest version of the plugin ?

[2019-02-10 21:14] mfuentesg commented on #112
@gromov-io sorry, you have pasted your settings file, i need your `Package Control.sublime-settings`

[2019-02-10 21:19] gromov-io commented on #112
[code]

[2019-02-10 21:25] mfuentesg commented on #112
Can you paste the content of `console-log.sublime-snippet` also

[2019-02-10 21:42] gromov-io commented on #112
![image](https://user-images.githubusercontent.com/46241127/52540003-dfd27700-2d95-11e9-88ca-80d27d5efc8a.png)

[2019-02-11 08:58] BoberMod commented on #113
Yes, installed from https://packagecontrol.io/packages/Sync%20Settings and tried to install the latest version from github (releases).

[2019-02-12 13:18] #112 closed

[2019-02-12 13:20] mfuentesg commented on #112
@gromov-io please try again, when the release be published!

[2019-02-12 22:17] sammcj opened #115 "3.0.2 breaks sublime theme, plugins - AttributeError: 'bytes' object has no attribute 'encode'"
After updating from 3.0.1 to 3.0.2 my theme is all messed up and plugins not working.

- SyncSettings: 3.0.2
- Sublime: 3189
- macOS 10.14.3

The console is show lots of errors for Sync Settings after it updated:

[code]

[2019-02-13 00:57] mfuentesg commented on #115
sorry about that, i am going to figure out what is happening.
Can you send me your `gist_id` to try to replicate the behavior on my environment..
Thanks in advance!

[2019-02-13 00:57] mfuentesg commented on #115
btw: this is the only change on the new release

https://github.com/mfuentesg/SyncSettings/commit/8b19d695160cb9aee1dbd988c8c089198b193e14

[2019-02-13 01:00] sammcj commented on #115
NP,

Note: It may have upgraded from 3.0.0 to 3.0.2 and I missed it somehow.

My gist is a private one as it _could_ contain private data couldn't it?

[2019-02-13 01:04] sammcj commented on #115
I keep it private in case I add something like identifiable IP addresses, hostnames, secrets or anything to any config by mistake.

It's got a _lot_ of files / data in it - having a quick look through it seems OK, but I'd rather not publish publicly - do you use signal or twitter? I could DM you a password and email you an encrypted archive of it just to be safe.

[2019-02-13 01:18] mfuentesg commented on #115
@sammcj please check your DM on twitter!

[2019-02-14 03:30] neo2271 commented on #115
@mfuentesg: I have also met this issue.

ERROR:Sync Settings.sync_settings.libs.logger:'bytes' object has no attribute 'encode'
Traceback (most recent call last):
  File "C:\Users\ADMIN\AppData\Roaming\Sublime Text 3\Installed Packages\Sync Settings.sublime-package\sync_settings/sync_manager.py", line 88, in update_files
    edit_content(name, file['content'])
  File "C:\Users\ADMIN\AppData\Roamin

[2019-02-14 03:45] mfuentesg commented on #115
Guys, please change your package control settings using the `install_prerelease` setting to include `Sync Settings` and use the pre release that I have created, then, try to download your settings again.

Thanks in advance

[2019-02-14 03:45] mfuentesg commented on #115
Let me know if the issue is still alive.

[2019-02-14 03:57] sammcj commented on #115
Thanks @mfuentesg , testing now.

FYI for @neo2271 - in the sublime command pallet open "Preferences Package control settings - user"

remove `"Sync Settings"` from the list of `"install_packages"` and add:

[code]

[2019-02-14 04:24] neo2271 commented on #115
Great! That's ok. It worked, now I can sync my settings from other machine.

Thanks @mfuentesg for the great Sublime Text package.

Thanks @sammcj for your help.

(y)

[2019-02-14 06:33] sammcj commented on #115
@mfuentesg same problem 😢

I did get a popup error saying colourcoder (an awesome package) couldn't pass the colourscheme while syncsettings was downloading settings but I've noticed the odd error here and there in the past when first installing packages and they haven't got their dependencies yet.

However, the same python error with syncsettings and utf8 is there, here are some screenshots:

- E

[2019-02-14 06:47] sammcj commented on #115
I thought I'd rule out colourcoder so I did the following (which shows it's not colourcoder):

1. Removing colourcoder package from work machine, upload sync settings
2. Close and reopen sublimetext on home machine
3. Download sync settings on home machine

SyncSettings now pops up with these errors:

![screen shot 2019-02-14 at 5 40 04 pm](https://user-images.githubusercontent.com/862951/52767783

[2019-02-14 06:59] sammcj commented on #115
I just tested again this time:

1. Completely remove sublime text and Application\ Support/Sublime\ Text\ 3 directory
2. Install sublime text 3
3. Install package manager
4. Install sync settings (prerelease)
5. Update gist in sync settings settings
6. Download sync settings

This time a new pop-up error:

![screen shot 2019-02-14 at 5 58 04 pm](https://user-images.githubusercontent.com/862951/527

[2019-02-14 07:11] sammcj commented on #115
OK I'm getting somewhere... (writing this as it's happening)

1. I did another clean install of sublimetext on my home machine (entered license)
2. Installed (prerelease) sync settings
3. Filled out sync settings gist
4. Copied the contents of my package control settings file from my work machine to my home machine
5. Ran sync settings download
6. All my packages are now downloading without error

[2019-02-14 07:14] sammcj commented on #115
BTW my Preferences.sublime-settings is as follows:

[code]

[2019-02-14 15:42] mfuentesg commented on #115
@sammcj  @neo2271 guys, please check the new version and let me know if the issue was solved.

[2019-02-14 22:24] mfuentesg commented on #115
@sammcj , checking your screenshots, `a package is trying to ignore itself` is an open issue on package control repository, because i am using `advanced_install` command.

ref: https://github.com/wbond/package_control/issues/1191

[2019-02-15 01:58] mfuentesg commented on #113
Please, let me know if are experiencing the same issue.
i will close it for now.

[2019-02-15 02:09] #100 closed

[2019-02-15 05:07] sammcj commented on #115
Sorry having an crazy day - I haven’t had a chance to test again - hopefully tomorrow afternoon, very sorry!

--
Sam McLeod

[2019-02-15 06:02] sammcj commented on #115
Just got home and tested.

1. I updated the sync settings package.
2. I tested with my existing working config and plugins from my workaround yesterday.
3. I downloaded sync settings.
4. I got the following popup from sync settings:

![screen shot 2019-02-15 at 4 58 46 pm](https://user-images.githubusercontent.com/862951/52837562-56c79100-3143-11e9-955f-e7b8ea0e0aad.jpg)

5. I clicked OK and sync

[2019-02-15 08:36] BoberMod commented on #113
![image](https://user-images.githubusercontent.com/8740496/52844478-59a78f00-310d-11e9-8f2a-804815a1ec4c.png)
"log" from sublime console https://hastebin.com/vovoyisogu.py

[2019-02-15 12:45] mfuentesg commented on #115
@sammcj i have tested with your gist, but a can download each file, and the preferences file was updated.

[2019-02-15 12:46] mfuentesg commented on #115
could you paste here the logs, please!

[2019-02-15 12:47] mfuentesg commented on #113
@BoberMod are you using a proxy?

[2019-02-15 18:46] BoberMod commented on #113
No
[code]

[2019-02-18 03:36] sammcj commented on #115
Sorry had a crazy weekend with a very nasty failed Juniper SRX1500 upgrade (the official process literally bricked a unit!), I'll try this out again tonight and provide logs if I'm still alive when I get home.

[2019-02-21 01:19] mfuentesg commented on #113
apparently you have a lot of issues with ssl, check your log file. because, sync settings is not the unique one.

[2019-02-27 01:41] mfuentesg commented on #115
@sammcj could you tell if the error has been fixed?

[2019-02-27 01:41] #113 closed

[2019-02-27 01:42] sammcj commented on #115
whoops sorry - not it hasn't while it looks like packages are sync - settings (user preferences are not), is there a specific log I could provide you to help?

[2019-02-27 01:51] mfuentesg commented on #115
Check your package control settings, and remove sync settings from your "pre release". Then run the command "show logs" and paste the file content here.

[2019-02-28 08:47] sammcj commented on #115
It works! It all appears to work!

Thank you so much @mfuentesg 🍻

[2019-02-28 08:47] #115 closed

[2019-02-28 10:03] mfuentesg commented on #115
Cool, thanks Sam!

[2019-03-13 18:28] tobihagemann opened #118 "'module' object has no attribute 'exceptions'"
Just updated to Sublime Text 3.2 and noticed that Sync Settings outputs the error, e.g. when trying to upload or download:

[code]

But I'm not 100% certain that it's caused by the new update because I haven't used Sync Settings for a while. If someone can confirm the issue (or not), that would be great.

[2019-03-13 19:14] mfuentesg commented on #118
hey @tobihagemann could you paste logs here please, run `Show Logs` command.

Thanks in advance

[2019-03-13 19:40] tobihagemann commented on #118
Hm, I don't have the errors anymore but I haven't changed anything afaik. Well, here are the logs anyway but I guess the issue can be closed?!

## Download

[code]

## Upload

[code]

[2019-03-14 12:39] mfuentesg commented on #118
the unique way to receive that kind of errors, is because the `requests` module has not been installed in your sublime text yet. probably, after restart, the installation had been completed.

[2019-03-14 14:01] tobihagemann commented on #118
All right, everything is fine then. :smile: Thanks!

[2019-03-14 14:01] #118 closed

[2019-03-24 16:58] skorasaurus opened #119 ""No JSON object could be decoded" when downloading gists"
Hi,

Both computers are running Ubuntu 16.04.

I am attempting to download settings from Computer A on Computer B.

On B, I moved my previous sublime-text profile to a separate folder so I could start from scratch.

On B, I opened sublime, installed package manager and Sync Settings; and closed sublime text.

I reopened sublime, created a new gist token for B, copied it
into B's syncSettings file;

[2019-03-27 06:44] meetajhu commented on #119
Even i have the same problem. I think the author needs to update for the latest version of sublime. This started happening since i got Sublime Text 3.2 (Build 3200). Version 3.1.1 works just fine.

[2019-03-27 13:13] mfuentesg commented on #119
Hey Guys, i will try to fix it soon.

Btw, you are welcome to contribute and fix the issue, put in practice your knowlogedge!

[2019-03-28 15:01] rohan-paul opened #120 "Sublime Text: can not download with sync-setting package due to randomly changed "ignored_packages" list"
I am trying to download/install some 50+ packages with "Sync Settings. So, I do Preferences > Packages Settings > Sync Settings > Settings - and my User file contents is like below.

[code]

 But it fails giving me the below error pop-up

 **It appears a package is trying to ignore itself, causing a loop.
    Please resolve by removing the offending ignored_packages setting.**

And then when I nev

[2019-04-13 01:47] webxmsj opened #121 "Sync Setting: Download error no json object could be decoded"
Traceback (most recent call last):
  File "C:\Users\17625\AppData\Roaming\Sublime Text 3\Installed Packages\Sync Settings.sublime-package\sync_settings/commands/download.py", line 50, in download
    manager.get_content(path.join(self.temp_folder, path.encode('Package Control.sublime-settings')))
  File "./python3.3/json/__init__.py", line 316, in loads
  File "./python3.3/json/decoder.py", line 3

[2019-04-28 17:39] kbreit opened #122 "Cannot download using valid key and gist_id"
[code]
This is the entirety of my configuration file. I've even created a new key for gist. However, when I try to download from the existing gist I am getting these logs:

[code]

[2019-04-29 01:54] kbreit commented on #122
Resolved after restart.

[2019-04-29 01:54] #122 closed

[2019-04-29 21:58] mfuentesg commented on #122
Cool hahaha

[2019-05-01 08:33] marekkaczkowski opened #123 "`getaddrinfo failed` behind the proxy on Win10"
Hey,
I can't download gist with settings. Tried with `http/s_proxy` settings with no result.
Can you please share more info about proxy configuration?

- is it python proxy conf
- can I use http://user:pass@myproxy.com:8080 for `http/s_proxy`

[code]

[2019-05-02 04:34] shawnngtq commented on #120
I face the same error. For mine, it's related to GutterColor package. So I added `"*GutterColor.sublime-settings"` to the `excluded_files`. However, it did not resolve my error.

Do you have any solution / workaround?

@rohan-paul

[2019-05-02 13:30] mfuentesg commented on #123
hey, can you paste here your `Sync Settings.sublime-settings` file content

[2019-05-02 20:13] mwilliammyers opened #124 "GitHub API rate limit exceeded"
Thanks for this awesome plugin! I have used it many times without any issues but ran into a rate limit issue...

This is most likely the same issue as #122, but restarting it did not fix it. The error message is pretty confusing because I most likely ran into the rate limit error by re-trying the download after receiving a ```The credentials are invalid, or the token does not have permissions``` e

[2019-05-02 20:17] mwilliammyers commented on #124
This *might* be a separate issue, but before hitting the rate limit, my logs looked like:

[code]

Which is weird because `six` should not even be installed (this is a fresh install of sublime and it is not listed in my gist under `installed_packages`...)

[2019-05-06 14:54] marekkaczkowski commented on #123
[code]

[2019-05-06 15:37] mfuentesg commented on #123
hey, try to use http(s)_proxy properties, to set the a proxy used by sync settings.

[code]

[2019-05-07 12:20] marekkaczkowski commented on #123
Hey,
added proxies (yes for https should be http proxy) but no differences. Same error `socket.gaierror: [Errno 11001] getaddrinfo failed`.

[code]

[2019-05-07 12:41] marekkaczkowski commented on #123
Windoze.. Got it!

`env | grep proxy` returned no results
but `http_proxy` and `https_proxy` was defined in windows env vars (lolz).

Removed both env vars, added again `http_proxy`, `https_proxy` and voila! Works! :tada:

[2019-05-07 12:41] #123 closed

[2019-05-07 12:49] mfuentesg commented on #123
happy to hear that,  keep creating cool stuff.

[2019-05-07 13:01] mfuentesg commented on #124
are you that `access_token` setting is defined, because this error in general is raised by an authenticated request.

[2019-05-07 22:06] mwilliammyers commented on #124
I am positive it is defined. Well at least my config looks like:
[code]
I am definitely getting a rate limit warning:
[code]

And I know that is the issue causing the `The credentials are invalid, or the token does not have permissions` popup because I waited a while and without changing anything it worked...

I think we should at the very least signal this to the user in the popup or display the

[2019-05-09 18:57] mfuentesg commented on #124
let me check, i guess the download command is not using the defined `access_token`

[2019-05-10 12:17] dawhum opened #126 "Ignore certain settings"
We're looking to use Sync Settings to share the Sublime configuration across a team, and it'd be brilliant if it could be configured to ignore certain settings, e.g. the font size.

Hooks would be an alternative solution to this: https://github.com/mfuentesg/SyncSettings/issues/104

[2019-05-10 13:30] mfuentesg commented on #126
hey, this is very customized my idea is keep a general solution to upload your settings.

i will try to implement hooks soon, but i am very busy in this time.

[2019-05-26 20:00] #124 closed

[2019-05-27 02:06] mfuentesg commented on #124
@mwilliammyers , please let me know if with the new version you are able to download again without restrictions

[2019-05-28 17:35] mwilliammyers commented on #124
Ok, thanks! I updated it and downloaded my settings 10+ times as fast as I could and it worked. I will keep my eye out from now on as I use it normally.

[2019-05-28 17:36] mfuentesg commented on #124
Thanks William

[2019-06-10 12:49] #105 closed

[2019-06-11 06:37] vv0rk opened #128 "SSL certificate_verify_failed"
when I try upload / download settings, I has error from Sync Settings: Can't perform this action due to network errors. reason: [SSL; CERTIFICATE_VERIFY_FAILED] cetrificate verify failed (_ssl.c:548)

what I can do to resolve the error?
[sync.log](https://github.com/mfuentesg/SyncSettings/files/3275116/sync.log)

[2019-06-15 14:57] rousnay opened #129 "Unable to download settings from my publicly available gist"
My settings:
`{
 "gist_id": "https://gist.github.com/rousnay/2214f59b5ba87f27f4e15a787d8a0759"
}`

And the log below:

[2019-06-15 15:07] #129 closed

[2019-06-15 18:26] mfuentesg commented on #129
gist_id must be set as `2214f59b5ba87f27f4e15a787d8a0759`

[2019-07-04 07:23] earhax commented on #119
I'm also seeing this issue, on Windows 10 Enterprise. Hope to see a fix soon!

[2019-07-04 07:23] earhax commented on #121
I'm also seeing this issue, on Windows 10 Enterprise. Hope to see a fix soon!

[2019-07-09 00:52] mfuentesg commented on #119
@earhax can you share with me your gist?

[2019-07-09 02:43] mfuentesg commented on #121
i was able to reproduce the issue, deleting `Package Control.sublime-settings` file from my personal gist.

i am not sure why you are ignoring that file, because the idea is synchronize your installed packages.

[2019-07-09 02:45] #121 closed

[2019-07-09 10:38] earhax commented on #119
Unfortunately, due to security reasons, I can't. I've got some sensitive data that is being syncd. Is there other info I could share that would help?

By the way, at home on my MacBook Pro, the download is working okay. So I am only seeing this issue on Windows 10 on my PC at work.

[2019-07-09 11:30] mfuentesg commented on #119
I have released a new version yesterday. Can you check again in your windows machine.
If still failing, can you paste logs here please?

[2019-07-09 11:34] earhax commented on #119
I'm not at work today. But as soon as I'm back I will try the new version and let you know how it goes. Thanks!

[2019-07-10 11:16] earhax commented on #119
I'm not sure if I have automatically updated to the latest SyncSettings version. I closed and restarted ST3 on my PC, and tried downloading again. But it is still giving the same "no JSON" error.

Here is the latest traceback entry from the log.
Traceback (most recent call last):

  File "C:\Users\Mmaksim\AppData\Roaming\Sublime Text 3\Installed Packages\Sync Settings.sublime-package\sync_settings

[2019-07-10 11:28] mfuentesg commented on #119
Try to upgrade sync settings manually, using the package control upgrade command.

Because line above is the previous version of the plugin.

[2019-07-10 11:31] mfuentesg commented on #119
[code]

[2019-07-11 11:26] earhax commented on #119
I tried doing an upgrade using "Package Control: Upgrade Package", but I see the response "there are no packages ready for upgrade". Is there some way I can force it to upgrade, or to do it manually without losing my user settings for the package?

[2019-07-11 14:13] mfuentesg commented on #119
Yes, you can clone this repository in the sublime text packages folder. After restar your sublime and try to use download command from the cloned plugin version.

[2019-07-15 08:41] earhax commented on #119
Okay. I've never cloned a repository before, so hopefully I do this correctly. I downloaded a zip of the cloned repository. I guess I just put that in the packages folder?

[2019-07-15 09:22] earhax commented on #119
Okay I think I got it working. I moved the Sync Settings.sublime-package out of the AppData\Roaming\Sublime Text 3\Installed Packages folder to keep a backup of it, then put the zip of the clone in there, renamed it to Sync Settings.sublime-package, restarted ST3, and saw a notification that a dependency was downloaded and to restart the app. After that, I used the Package Control: Upgrade Package

[2019-07-16 03:31] mfuentesg commented on #119
@earhax are you ignoring `*.sublime-settings` files?

[2019-07-16 10:26] earhax commented on #119
@mfuentesg no, I'm not ignoring those files. Here's a copy of my SyncSettings.sublime-settings file with my gist and proxy server info omitted:

[code]

[2019-07-16 17:15] mfuentesg commented on #119
Weird, but i have released a new version yesterday.

[2019-07-17 10:19] earhax commented on #119
Looking in \AppData\Roaming\Sublime Text 3\Installed Packages, I see that Sync Settings.sublime-package shows a date modified of today's date at the time I started sublime text this morning. So I assume I have the most recent version now.  I tried downloading again, and am still seeing this in the console after the downloading hourglass disappears. Same behavior as the previous version I tested.

[2019-07-25 20:13] adtya9876 opened #132 "Saving Access Token"
When tring to save my access token to the user setting this error presits:

![suberr](https://user-images.githubusercontent.com/31375056/61905423-ac9c3280-af46-11e9-9f1a-360259c1a047.png)

[2019-07-26 13:20] mfuentesg commented on #132
What is the file content?

[2019-08-04 18:39] mfuentesg commented on #132
closed by insufficient information

[2019-08-04 18:39] #132 closed

[2019-08-27 03:53] mwilliammyers opened #133 "XDG support?"
Any chance of supporting the [XDG base directory spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-0.6.html) or at least store the config/cache not under `~`?

I really like to keep a tidy home dir... :)

[2019-09-09 20:02] ipstone opened #134 "User keymaps not synced - when missing packages"
Hello,

Recently I ran into sublime syncsetting not working for my keymap to sync - and found out the cause is due to the unfinished syncing process, as there are obsolete packages on one machine (no longer available on package control).

Might we add a message for 'uncompleted syncing' and giving the possible cause of the failed sync?

Another suggestion would be to change the order of things bei

[2019-10-04 15:59] gknoop commented on #120
Am also having this issue, myself. Ubuntu 18.04.3.

[2019-10-09 18:37] muuvmuuv opened #135 "Save `.sync_settings` in `.config`"
In my opinion this folder belongs more to `.config/Sublime text/extensions/sync_settings` or somewhere else than in my users root dir. I#m that type of person that loves to have everything organized 😁. Would like to hear your opinion on this.

FYI: Most configs are stored there e.g. Enpass and macOS Configstore.

[2019-10-10 06:19] pycodev opened #136 "Download not work and the log is empty"
I have uploade setting.

then I type the same `access_token` and `gist_id`， run `Sync Settings: download` command.

but nothing happen,  log is also empty.

please help

[2019-11-08 15:44] hirschferkel opened #137 "This gist exceeds the recommended number of files (~10). To access all files, please clone this gist. To share more, create a repository."
I followed the instructions, but the sync-gist doesn't work at the moment...
Anny idea what can be done?

There is not entry in logs, but the upload has definitely not completed.

Best, hirschferkel

[2019-11-08 16:30] #137 closed

[2019-12-09 08:57] tmdag opened #138 "Errno 20 Not a directory"
I've installed sync settings on 2 machines. Both of them share the exact same setup for 'sync settings' (same gist id, same token).
While one machine works fine - I can upload settings just fine
Second machine, when trying download - I am getting an error
"Cannot perform this action due to network errors. reason: [Errno 20] Not a directory"

[2020-01-08 07:09] hgsadhrakiya opened #139 "Getting permission error"
Hello,
I am getting this error while using this command:
Sync Settings: Download

"sync settings: the requested gist do not exist or the token has not enough permissions"

Can you please guide me on this?

[2020-01-15 04:15] elie464 commented on #139
Try `{"gist_id": "<gist_id>"}` without the https://etc.

[2020-01-27 16:13] FloLangenfeld commented on #138
Same here.
Don't know if that's related, but I was able to upload from a Windows 10 machine but not from an ubuntu-based distribution...
Just tried to download from the ubuntu computer, and it produced the same error: "Can't perform this action due to network errors. reason: [Errno 20] Not a directory"

Here is the error message the console output: [issue_138.txt](https://github.com/mfuentesg/Sync

[2020-02-03 19:40] Guava-de-Boston opened #140 "On Mac OS, download puts files in ~ /.sync_settings/temp"
On a Mac (running Mojave, MacOS 10.14.6) executing Sync Settings: Download puts the files from the target github gist into ~/.sync_settings/temp . I was expecting these would be dumped to the Sublime Text 3 ./Packages/User subdirectory.

Q: is this expected behavior on a Mac? (I have not tried this on a linux box yet.)
Q: if this _is_ expected behavior, then perhaps there needs to be some document

[2020-02-03 20:05] Guava-de-Boston opened #141 "Gist upload does not preserve directory hierarchy and correct file names"
Uploaded sublime Package/Users files do not preserve subdirectory structure and further filenames are transformed with %NN character codes. (eg %20 replaces a space)

As a consequence a downloaded gist zip does not expand to the original subdirectory structure and filenames.

Hand editing resolves this, but then that defeats the goal of a simple sync of configuration files.

[2020-02-03 20:54] Guava-de-Boston commented on #141
Ok.. this may be a non-issue. The JSON-ized filenames are not a problem for the ubuntu/linux realm. However on a Mac, the downloaded gist does not convert as expected. (Embedded %NN chars remain in the filenames)

[2020-02-05 14:19] mfuentesg commented on #140
It is the expected behavior, this folder is used as temporary folder, all files will be moved to the user folder.

[2020-02-09 16:40] daniele-niero commented on #139
For what it's worth, the suggestion above worked for me. I'm on Ubuntu 18.04.4 LTS, on an old Mac book pro (2009/2010)

[2020-03-03 18:31] bashfulrobot opened #142 "Settings file format"
Hi there,

I'm just setting up the sublime extension and came across the instruction:

"Put the token in the config file (access_token property)"

Then running the command to open the setting file - it is blank. So I am not sure which format this file needs to be declared in. IE - JSON, YAML, etc.

Can you please confirm?

[2020-04-05 13:24] krupitskas opened #144 "No JSON object could be decoded"
Hey! Faced a problem.
Maybe it correlates with the new version of sublime text 4070 alpha

![image](https://user-images.githubusercontent.com/5683877/78499493-ad35cb80-7759-11ea-8b4e-a6d301f32009.png)

[code]

My gist
https://gist.github.com/krupitskas/b272fea836faffa356c8f0cce9a121b3

[2020-04-08 17:56] TheSecEng commented on #144
#145 resolves this.

[2020-04-13 19:06] #142 closed

[2020-04-13 19:07] mfuentesg commented on #141
can you provide the filename that creates this issue?

[2020-04-13 19:13] #140 closed

[2020-04-13 19:50] mfuentesg commented on #135
Let's try to add a new configuration in `.sublime-settings` file to give you the flexibility to set any folder for config.

Should be great if you can raise a PR for it!

[2020-04-14 08:22] muuvmuuv commented on #135
Not much time currently. It isn't mandatory, just my inner Monk.

[2020-04-21 19:39] TheSecEng opened #150 "Doesn't properly handle binary files"
If a file is binary, it doesn't base64 encode it first.

**Solutions**

1. Check to see if the file is binary, if it is... base64 encode it

or

1. Treat everything as binary and base64 encode all content

[2020-05-07 02:33] Nicksxs commented on #67
i have same problem
https://gist.github.com/Nicksxs/c19256dac4968eeeac447541b653ba4b

[2020-06-14 06:45] marcovirtual commented on #139
This worked for me too. Remember to delete the .`js` file extension from the `gist_id` when you copy it from GitHub.

[2020-06-22 17:09] TheSecEng commented on #150
No real go way to do this. If we treat everything as binary and base64 encode everything. Nothing would be easily readable on the gist. But we then wouldn't need to worry about binary data. But I think this defeats the purpose.

[2020-06-22 17:09] #150 closed

[2020-06-22 17:52] TheSecEng commented on #139
@hgsadhrakiya any update on this?

[2020-06-22 18:17] #119 closed

[2020-06-22 18:17] #144 closed

[2020-06-22 18:33] mfuentesg commented on #139
Gist id is just the last part the Gist URL.
i.e `https://gist.github.com/user/86ee9288b05d236dada81148f66db8db` id = `86ee9288b05d236dada81148f66db8db`.

[2020-06-23 10:19] earhax commented on #119
Hey sorry for the lack of response on this. How do I get the latest version?

On Mon, Jun 22, 2020, 8:17 PM Marcelo Fuentes <notifications@github.com>
wrote:

[2020-06-24 13:40] monnerHenster opened #164 "UnicodeEncodeError: 'latin-1' codec can't encode characters in position 106-107: ordinal not in range(256)"
ERROR:Sync Settings.sync_settings.libs.logger:'latin-1' codec can't encode characters in position 106-107: ordinal not in range(256)
Traceback (most recent call last):
  File "D:\软件\sublime Text\Data\Installed Packages\Sync Settings.sublime-package\sync_settings/commands/create_and_upload.py", line 45, in create
    ).create(data)
  File "D:\软件\sublime Text\Data\Installed Packages\Sync Settings.su

[2020-06-24 15:53] marcovirtual commented on #164
The same is happenning to me.

![sublime_text_mopOjDdDRw](https://user-images.githubusercontent.com/13058480/85589042-9b0d5000-b619-11ea-9bb5-57138fe349b1.png)

Help pls!

[2020-06-24 17:30] codecodero opened #165 "Failed to do a "Create and Upload" - in Ubuntu 20.04 Sublime Text"
WARNING:Sync Settings.sync_settings.libs.logger:{'documentation_url': 'https://developer.github.com/v3/gists/#create-a-gist', 'message': 'Problems parsing JSON'}
ERROR:Sync Settings.sync_settings.libs.logger:Unexpected Error, Reason: Problems parsing JSON
Traceback (most recent call last):
  File "/home/gerard/.config/sublime-text-3/Installed Packages/Sync Settings.sublime-package/sync_settings/co

[2020-06-24 20:27] mfuentesg commented on #165
@TheSecEng ^

[2020-06-24 20:27] mfuentesg commented on #164
@TheSecEng  ^

[2020-06-24 21:27] TheSecEng commented on #164
Looking into this.

[2020-06-24 22:32] TheSecEng commented on #164
Fix in the pipeline

[2020-06-24 22:32] TheSecEng commented on #165
Fix in the pipeline

[2020-06-25 12:31] TheSecEng commented on #165
Just FYI, this issue is because we moved from `json` to sublime functions. JSON ensured ASCII characters. Gist API requires valid JSON, and valid JSON requires UTF-8. We will have to add a `encode("UTF-8")` before posting to Gist

[2020-06-25 12:31] TheSecEng commented on #164
Just FYI, this issue is because we moved from `json` to sublime functions. JSON ensured ASCII characters. Gist API requires valid JSON, and valid JSON requires UTF-8. We will have to add a `encode("UTF-8")` before posting to Gist

[2020-06-25 13:52] mfuentesg opened #169 "Delete support for Sublime v2.* and Python v2.*"
Last update of sublime text 2 was 8 July 2013

[2020-06-25 15:12] mfuentesg commented on #141
Closing for inactivity

[2020-06-25 15:12] #141 closed

[2020-06-25 15:16] mfuentesg commented on #138
@tmdag @FloLangenfeld are you still facing this issue?

[2020-06-25 15:22] mfuentesg commented on #134
So sorry the mega delay, but, are you still facing this issue?

[2020-06-25 15:23] mfuentesg commented on #120
@gknoop

[2020-06-25 15:24] #120 closed

[2020-06-25 15:24] mfuentesg commented on #120
Guys, if you still are facing issue, feel free reopen this issue.

[2020-06-25 15:25] mfuentesg commented on #136
sorry the mega delay, are you still facing this issue?

[2020-06-25 16:16] mfuentesg commented on #165
@codecodero i have created a new version along to @TheSecEng to solve this issue, please once this is available in package control, let me know if it solves your issue.

[2020-06-25 16:16] mfuentesg commented on #164
@codecodero i have created a new version along to @TheSecEng to solve this issue, please once this is available in package control, let me know if it solves your issue.

[2020-06-25 16:40] codecodero commented on #165
Hello greetings from Peru, I just installed in Windows 10 and I still have the same problem, the UFT-8 that you mention in part is configured, since it is not mentioned in the plugin documentation
👇
{
    // Brings write permission to Sync Settings over your gists (edit, delete and create).
    // This option is not required, if you only want to download your backups
    "access_token": "",

    /

[2020-06-25 16:54] mfuentesg commented on #165
Hey @codecodero new version is has not been upgraded in package control . Wait for version v3.0.8.

[2020-06-25 17:13] codecodero commented on #165
Thanks for warning, I installed it from the GitHub repository and was able to gist my Sublime Text settings. SUCCESSS!!!!

This plugin is amazing, 👌🙌

[2020-06-25 17:15] mfuentesg commented on #165
@codecodero good to read it.

Eres bienvenido a contribuir cuando quieras!

Saludos desde Chile

[2020-06-25 18:34] mfuentesg commented on #165
@codecodero done. Please let me know if everything is ok.

[2020-06-25 18:35] mfuentesg commented on #164
@marcovirtual can you confirm if the issue is fixed? If yes, please close this issue.

[2020-06-25 23:15] marcovirtual commented on #164
Thank you @mfuentesg and @TheSecEng, I can confirm the issue has been resolved on my machines!

Unfortunately as I'm not the one who opened the issue, I see no option to close it. Pinging @monnerHenster

[2020-06-25 23:25] #164 closed

[2020-06-25 23:25] mfuentesg commented on #164
Fixed

[2020-06-25 23:25] mfuentesg commented on #165
Fixed

[2020-06-25 23:25] #165 closed

[2020-06-25 23:27] mfuentesg commented on #138
checking the error, it is because “requests” package is not able to reach github domain (SSLError)

[2020-06-25 23:31] tmdag commented on #138
it's been half a year from that error, and I've reinstalled sublime few times. Today I haven't got that error just yet

[2020-06-25 23:34] mfuentesg commented on #138
So sorry, very occupied the last time. If you are facing the issue kindly close it.

[2020-06-25 23:38] tmdag commented on #138
no worries, but it seems to be working so all good. Thanks!

[2020-06-25 23:38] #138 closed

[2020-06-25 23:42] mfuentesg commented on #126
Closing this issue, because it is out of the scope of this plugin.

[2020-06-25 23:43] #126 closed

[2020-06-26 14:34] #139 closed

[2020-06-26 23:06] uberkael opened #171 "Unicode caracter latin-1"
I'm getting this error when I upload the config

![image](https://user-images.githubusercontent.com/1783926/85907617-57ca0180-b812-11ea-90fe-76a7bf6583f5.png)

I can't locate where is the character error only with that information.

Thanks

[2020-06-27 18:32] mfuentesg commented on #171
@uberkael are you using latest version of the plugin?

[2020-06-28 04:17] uberkael commented on #171
It's weird, the problem is now gone...
It happened after the last update but it seems to work now as normal.

[2020-06-28 05:26] #171 closed

[2020-06-29 19:46] tumms opened #172 "'Create & Upload' Function not able to encode character"
Error Message:
"'latin-1' codec can't encode character '\u052c' in position 124995: ordinal not in range(256)"

[sync.log](https://github.com/mfuentesg/SyncSettings/files/4847697/sync.log)

[2020-06-29 19:47] tumms commented on #172
ERROR:Sync Settings.sync_settings.libs.logger:'latin-1' codec can't encode character '\u052c' in position 124959: ordinal not in range(256)
Traceback (most recent call last):
  File "C:\Users\tylerS\AppData\Roaming\Sublime Text 3\Installed Packages\Sync Settings.sublime-package\sync_settings/commands/upload.py", line 28, in upload
    data={'files': files}
  File "C:\Users\tylerS\AppData\Roaming\S

[2020-06-30 22:44] mfuentesg commented on #172
hey @tumms which version are you using? latest ?

[2020-06-30 22:45] mfuentesg commented on #136
@pycodev feel free to open this issue, if you are still facing this issue.

[2020-06-30 22:45] #136 closed

[2020-06-30 22:46] mfuentesg commented on #128
Apparently you are using an untrusted certificate. (This error is raised by requests package).

Please. feel free to reopen this issue if you are still facing it.

[2020-06-30 22:46] #128 closed

[2020-06-30 22:47] mfuentesg commented on #95
Hey @lestevam not sure if the current implementation of this plugin cover your request, can you please check it?

Feel free to reopen this issue.

[2020-06-30 22:47] #95 closed

[2020-06-30 22:59] tumms commented on #172
Yes

[2020-06-30 23:07] mfuentesg commented on #172
Kindly share with me your gist url (if it is possible).

Do you have special chars in any file? This would be very helpful i.e `Ԭ`

[2020-06-30 23:40] mfuentesg commented on #172
@TheSecEng do you have any example with the same issue?, i am not able to reproduce it.

[2020-06-30 23:40] mfuentesg opened #173 "Improve debugging with debug property"
It's very difficult to detect when the issue is happening, in order to find issues faster, we will add a new property called "debug: boolean".

This property must be disabled by default.

[2020-06-30 23:43] mfuentesg opened #174 "Create template for issue creation"
reference: https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

[2020-06-30 23:43] TheSecEng commented on #172
I’ll attempt to recreate

[2020-06-30 23:50] mfuentesg commented on #174
closes https://github.com/mfuentesg/SyncSettings/issues/174

[2020-06-30 23:51] #174 closed

[2020-07-02 01:29] mfuentesg commented on #172
Closing because I am not able to reproduce it.

@tumms Feel free to reopen this issue or create a new one, if you are still facing the issue.

[2020-07-02 01:29] #172 closed

[2020-07-04 11:41] hans00 opened #177 "JSON decode error if URL in sublime-settings file"
**Describe the bug**
A clear and concise description of what the bug is.

**Desktop (please complete the following information):**
 - OS: Any
 - Sublime Version 3

**Log file content with debug property in true**
Add any other context about the problem here.

My settings file has URL string. Use download, it's alert JSON decode error.

[2020-07-05 01:14] dotiful commented on #177
confirm this issue

[2020-07-06 01:29] #177 closed

[2020-07-06 01:31] mfuentesg commented on #177
@hans00 @dotiful i have created a new version of sync settings, in few minutes/hours (depending of package control release checker) you should be able to use sync settings normally.

Please feel free to reopen this issue if you still face it.

[2020-07-08 11:35] StephanWells opened #179 "'latin-1' codec can't encode character '\u016f' in position 3227: ordinal not in range(256)"
When trying to run the `Sync Settings: Upload` command, a character encoding error is output and the settings do not upload. This used to work for me up until recently.

Desktop details:
 - MacOS Catalina 10.15.5
 - Sublime Text 3.2.2 Build 3211

Traceback from `sync.log`:

[code]

[2020-07-08 15:58] mfuentesg commented on #179
@StephanWells do you have the latest version of the plugin?

[2020-07-08 16:00] mfuentesg commented on #179
you are not using the latest version, because the following portion of code is not in the latest version.

Try to use `Package Control: Upgrade Package` command, in order to use the latest version.
[code]

[2020-07-08 16:11] #179 closed

[2020-08-06 20:34] Shirobachi commented on #118
I had same problem. Restart resolved it 🤣 Thanks for that case :)

[2020-08-18 11:57] mtheos opened #180 "Including SyncSettings in sync"
~~I'm trying to include SyncSettings.sublime-settings as part of my sync.~~

~~I tried adding it as `"included_files": [ "SyncSettings.sublime-settings" ]` but it doesn't upload it.~~

[2020-08-18 11:59] mtheos commented on #180
Just realized gists can be secret but not private. Best not to upload my access token.

[2020-08-18 11:59] #180 closed

[2020-08-20 17:20] mfuentesg commented on #180
This is intentional, i am excluding SyncSettings.sublime-settings file all the time just to avoid sharing access token

[2020-08-21 02:43] mtheos commented on #180
Yes, this feature would require a rework to use a private settings repository instead of a gist.

Not sure if there's any demand for it beyond me.

[2020-09-04 10:58] hillonyechekwa opened #181 "Proper .config file not referenced"
When i run any action on syncsettings i get an error telling me that the path to the .config file is invalid. The path to the file being referenced is `home/User/.config/sublime-text-3/Installed Packages/-CodeTime.sublime-packages/vendor/certifi/cacert.pem`

-OS: Linux
-Sublime Text 3

Here is the log:
![image](https://user-images.githubusercontent.com/46321192/92231991-a1d00300-eea5-11ea-8e83-17c

[2020-09-04 15:30] mfuentesg commented on #181
it sounds like "CodeTime" is changing the certificates path for "requests" package.

Try uninstalling CodeTime package, and then execute again SyncSettings commands. Let me know if it works.

If it is, please raise an issue in "CodeTime" package.

[2020-09-08 07:23] hillonyechekwa commented on #181
it's still not working. This is the modal that pops up after i removed codetime and tried uploading again

![image](https://user-images.githubusercontent.com/46321192/92445661-908c3c80-f1ac-11ea-8829-bc0d399d59de.png)

[2020-09-10 03:09] mfuentesg commented on #181
Can you share with me new logs?

[2020-09-27 17:48] havilson opened #182 "Error when trying to create and upload my settings."
Hi, I'm using ST3 in Windows 10 and just installed your plugin. I'm willing to sync between Windows and Linux installations.
Follow the instructions to create a token and used it inside my user settings as written.
When I tried to Create and Upload for the 1st time I got the following error message:
"Sync Settings:
load_verify_locations() takes at most 2 arguments (3 given)"

When I opened the log

[2020-09-28 14:37] havilson commented on #182
Just an update.
I modified my settings and now I got another kind of error.

Here's my sync.settings user settings:
{
    "access_token": "1234567890987654321",
    "gist_id": "1234567890987654321"
}

Now this is the error that I got when I try to use Sync settings plugin:
"Sync Settings:
Could not find a suitable TLS CA certificate bundle, invalid path: C:\Users\xxxxxx\AppData\Roaming\Sublime Tex

[2020-09-28 18:25] mfuentesg commented on #182
It is sounds like an issue created by CodeTime, and it is overwriting path for certificates

[2020-09-28 21:04] havilson commented on #182
Well, I'll take CodeTime out.

[2020-09-29 17:27] mfuentesg commented on #182
Cool, closing.

[2020-09-29 17:27] #182 closed

[2020-10-13 12:06] mfuentesg commented on #181
closing for inactivity

[2020-10-13 12:06] #181 closed

[2020-10-13 12:06] #134 closed

[2020-10-13 12:09] mfuentesg commented on #71
Try to move your snippets inside your User folder, because all your own configurations must to be there.

[2020-10-13 12:09] #71 closed

[2020-10-27 17:55] dhempy commented on #120
I am seeing this issue. My ignored packages are:

[code]

This seemed very much to be in a loop, with the dialog reappearing when I acknowledged it, about a dozen times. FWIW, at first it had two copies of the dialog overlapping. After clearing those 2-3 times, it then only showed one at a time.  Finally, Sublime exited without comment.

I restarted Sublime, and none of my settings or packages see

[2020-10-27 18:09] dhempy commented on #120
Ok...a little more info...The two `ignored_packages` above were in the Sync gist. Removing those had no effect.

On my new computer, I went into User Preferences, and found (probably) all my packages in "ignored_packages". I removed that entire entry (and maybe restarted Sublime?), and now all my packages appear. Yay!

My theme/colors haven't come through...not sure if that's related.

[2020-11-18 13:55] earhax opened #183 "Problems with sync"
I just set up ST3 on a new machine and am trying to sync the files in my packages\user folder like I've done with my other machines. However, it's not working properly. I just found files in C:\Users\<myusername>\.sync_settings\temp that correspond to the files in my gist. They should be downloading to the packages\user folder, but they are not. Also, the files are not downloading into folders tha

[2020-11-18 14:42] mfuentesg commented on #183
it happens because all files are being downloaded to "sync_settings/temp" folder, maybe a solution is to create a subfolder something like `.sync_settings/temp/<gist_id>/...` in order to download files for a given gist id.

[2020-11-18 14:42] mfuentesg commented on #183
Let me try to take a look to it

[2020-11-19 02:47] earhax commented on #183
Is it the default behavior for Sync Settings to download from gist to this temp folder?

The actual path it downloaded to on this machine is C:\Users\<myusername>\.sync_settings\temp.

Please note that there is a . at the beginning of the sync_settings folder name.

As far as I can recall, with my other systems, when I upload or download a sync of my Sublime Text 3 settings, they upload from/downl

[2020-12-14 19:22] mfuentesg opened #185 "json files with trailing commas are not being decoded"
**Describe the bug**

json files with trailing commas are not being decoded

Reference: https://github.com/mfuentesg/SyncSettings/pull/151#issuecomment-744428941

[2020-12-14 21:52] #185 closed

[2020-12-15 16:23] dalisoft commented on #185
@mfuentesg It worked, thanks a lot

[2021-01-13 19:55] #135 closed

[2021-01-13 19:56] mfuentesg commented on #135
I won't implement this feature for now

[2021-02-02 11:26] dawidof commented on #138
Got the same issue

[2021-02-02 12:17] mfuentesg commented on #138
@dawidof Could you share your logs ?

[2021-02-02 13:00] dawidof commented on #138
@mfuentesg I've got an empty file
![Screenshot 2021-02-02 at 13 59 54](https://user-images.githubusercontent.com/1425756/106603732-fb288500-655e-11eb-82db-493ddd8aed96.png)

[2021-02-10 01:22] koolskateguy89 opened #187 "Does this support/include packages?"
As in will this enable me to easily reinstall my packages on another device?

[2021-02-10 19:01] mfuentesg commented on #187
@koolskateguy89  what do you want to say?

[2021-02-10 19:12] koolskateguy89 commented on #187
I understand it allows me to keep my settings the same across devices, but does this also include my packages list?

[2021-02-10 19:13] mfuentesg commented on #187
Yeah, it includes your package list defined in your package control settings file

[2021-02-10 19:15] koolskateguy89 commented on #187
That's brilliant thank you

[2021-02-13 19:06] dawidof commented on #138
@mfuentesg could you help with this error?

[2021-02-13 19:41] dawidof commented on #138
Found solution for this issue :)
![Screenshot 2021-02-13 at 20 38 46](https://user-images.githubusercontent.com/1425756/107859730-c4464f00-6e3b-11eb-9b6f-ab03bec4ddce.png)

[2021-05-25 01:44] mariohuq opened #188 "Open settings side-by-side with one command instead of separately in two commands"
See, how internal Settings open. There is one menu item:

![settings menu](https://user-images.githubusercontent.com/15021607/119297947-56fa5380-bc9f-11eb-8a31-0456cc21e430.png)

And it opens default settings and user-specified:

![image](https://user-images.githubusercontent.com/15021607/119298096-af315580-bc9f-11eb-94f9-e161522fa0f8.png)

This is done with `edit_settings` command (in `.sublime-m

[2021-05-25 14:01] mfuentesg commented on #188
Currently, SyncSettings works on st2 and st3. As i remember, `edit_settings` command is not available in st2.

[2021-06-10 04:08] IvoryJam opened #190 "Cannot install -- Package Control: The dependency 'requests' could not be installed or updated"
**Describe the bug**
When attempting to install I get the following errors

[code]

**Desktop:**
 - OS: Manjaro Linux - 5.10.41
 - Sublime Text build 4107

[2021-06-11 23:03] IvoryJam commented on #190
Issue was with packagecontrol.io

[2021-06-11 23:03] #190 closed

[2021-06-16 05:33] Daggy1234 opened #191 "[Feature Request] Allow ignoring folders"
I use different machines and I would not like to commit any files from `Packages/` or `linters/`. Atm there is no way to add this functionality. Perhaps an `ignore_directory` entry in the Json?

[2021-06-16 06:36] RobinWest commented on #140
I am having this exact issue. What triggers them to be moved to the User folder? Mine are not being moved.

I'd also note the downloaded files are encoded too, so assume they need to be unencoded before being moved.

[2021-06-16 13:48] mfuentesg commented on #191
Sync Settings provides an option whose aim is to ignore files, using wilcards. This option is `excluded_files`. Take a look to this section in the [readme file](https://github.com/mfuentesg/SyncSettings#options).

i.e
[code]

[2021-06-16 13:50] mfuentesg commented on #140
This is not an issue, temp folder is used by SyncSettings in order to download current version from remote server (Gist) and then use them, to replace your current files in your computer.

[2021-06-16 17:21] Daggy1234 commented on #191
Oh my bad thanks

[2021-06-16 17:21] #191 closed

[2021-06-17 00:15] RobinWest commented on #140
I have no problem with the temp folder, my problem is that they are NOT being moved into my User folder afterwards.

[2021-06-21 01:46] #169 closed

[2021-06-21 02:27] #188 closed

[2021-06-30 13:03] snowman opened #195 "How to avoid syncing disabled extensions as uninstalled extensions?"
Reproduce
===
First, try to disable one extension then upload settings, and this results in deletions in file `extensions.json`, same as when you uninstall an extension.

Expected
===
I want to back up all installed extensions, including disabled extensions.

[2021-06-30 13:10] mfuentesg commented on #195
Could you tell if this file `extensions.json` is included in the latest version of ST?

[2021-06-30 13:15] snowman commented on #195
Sorry, I confused this repos with https://github.com/shanalikhan/code-settings-sync 😅😅😅

[2021-06-30 13:15] #195 closed

[2021-06-30 13:23] mfuentesg commented on #195
hahah, don't worry, both plugins have the same purpose, this one is for Sublime Text.

Happy coding!

[2021-08-14 16:07] dialex commented on #121
I still have this issue.

Steps:

1. Mac: Install Sublime Text and Sync Settings plugin
2. Mac: Customise it
3. Mac: Save settings to gist using plugin
4. Win: Install Sublime Text and Sync Settings plugin
5. Win: Configure Sync Settings
6. Win: Download settings

And that's when I get an error

![image](https://user-images.githubusercontent.com/2140450/129452410-bae2f904-5c49-4984-bdf5-1683f1f3ed

[2021-08-16 21:26] mfuentesg commented on #121
@dialex i tried with your gist, but i didn't faced the issue, are you sure that you have the latest version of SyncSettings?

Latest version v3.2.0

![image](https://user-images.githubusercontent.com/8986996/129631511-e7c6be00-d909-4a30-b224-cd950396761c.png)

[2021-08-17 22:13] dialex commented on #121
Yup, that's the version I have. I'm not sure what else I can do differently :/
Does it help to share the logs?

[code]

[2021-08-18 17:08] mfuentesg commented on #121
@dialex Please try reinstalling Sync Settings, checking the error log, it is complaining about the line `16` with the following content `return json.loads(re.sub(re.compile(r"(?:(?:^\s*)|\s+)//.*$", re.MULTILINE), "", decoded))`
But, checking the code that line has another code, so please, reinstall Sync Settings  and let me know if you are still facing the same issue.

[2021-08-21 19:50] dialex commented on #121
Reinstalling Sync Settings solved the issue. Thank you for your help :)

[2021-08-21 19:54] mfuentesg commented on #121
@dialex Nice to read it. Enjoy SyncSettings

[2021-08-25 13:07] #173 closed

[2021-08-25 13:07] mfuentesg commented on #133
closing due to inactivity

[2021-08-25 13:07] #133 closed

[2021-08-25 13:08] mfuentesg commented on #81
closing due to inactivity

[2021-08-25 13:08] #81 closed

[2021-09-25 12:42] Gabriel-p opened #197 "Auto upgrade not working"
**Describe the bug**

Auto-upgrade is set to `true` but is is not working. I re-started ST many times but there is no change in my gist file

**Desktop (please complete the following information):**
 - OS: elementary OS 5.1.7 Hera (based on Ubuntu 18.04.6 LTS)
 - Sublime Version 4113

**Log file content with debug property in true**

My User's settings

[code]

[2021-12-13 15:18] wvpv opened #198 "SSL cert error when attempting to Create and Upload"
**Describe the bug**
I'm attempting to Create and Sync in a new Sublime Text 4 installation, but I'm getting an SSL certificate error as indicated below.

**Desktop (please complete the following information):**
 - OS: Windows 10 Enterprise 21H2
 - Sublime Version: v4 build 4121

**Log file content with debug property in true**
[code]

[2021-12-15 18:53] mariovalney commented on #197
I guess auto-upgrade is to download changes only.
In #89 we have a issue to auto-upload.

[2021-12-17 21:01] vivek1986 opened #199 "Sublime Text Sync Settings not syncing whichever file we wish to be synced, when specified in "included_files" settings"
I have Windows 10 64Bit OS and under it Sublime Text 4 (4113) installed. And I recently came across and installed [Sync Settings](https://packagecontrol.io/packages/Sync%20Settings).

Now I have tried to specify the correct name and/or full-path of Sync Settings JSON file itself to be synced whenever Sync Settings: Upload the command is explicitly ran, but it doesn't sync the "extra" file that I h

[2021-12-19 01:46] xinxilas commented on #199
Im ivestigating it too, i want to make my custom files

maybe i want only keybind and settings file

[2021-12-21 19:38] wvpv commented on #198
It does appear that there's a proxy in play on my machine.  Is there a way for me to reference a cert locally via Sync Settings config?

[2022-01-26 20:35] mfuentesg commented on #199
Hi, `SyncSettings.sublime-settings` is not included by default in the application in order to avoid collisions in your current machine and the one you want to synchronize.

[2022-01-27 02:58] vivekwebm2020 commented on #199
Ok, if I still  wanna include it then is there any possible way ? Even a backdoorish/hackish way also will be fine as long as it does sync that SyncSettings file, because I feel, if what I want to sync cannot be stored on cloud (Github is cloud here) then it kinda loses the point...

[2022-01-27 05:53] mfuentesg commented on #199
Sorry, but it is not possible. If you want a hacky way is cloning this project into the Users folder of ST and then restart it to enable the plugin from source code .

Then remove this part of the code `p.extend(['*SyncSettings.sublime-settings'])`  in order to avoid the exclusion. https://github.com/mfuentesg/SyncSettings/blob/90403241f41f312f7cf073cad2f8b227934c4ed5/sync_settings/sync_manager.py

[2022-01-27 05:55] mfuentesg commented on #198
Hi @wvpv , sorry, but it is not possible to define certs at config file level. You are welcome to contribute to it.

[2022-01-27 05:56] mfuentesg commented on #197
Hey! Sorry, for the delay. As @mariovalney said, auto upgrade is just doing it in one direction from remote to local.

[2022-01-27 11:51] vivekwebm2020 commented on #199
@mfuentesg Thanks a lot, that helped fix this... :)

[2022-01-28 21:41] #199 closed

[2022-02-09 03:06] shalak opened #200 "No error message and empty logs with broken config"
**To reproduce on fresh installation:**
- provide following configuration:
[code]
Please note that the `excluded_files` is a `string`, where it should be `[]string`.
- try to Create & Upload

**Expected:**
- Valid error is shown, plugin logs contain error message and stacktrace

**Actual:**
- No error message, no notification - the plugin goes dark. The "Show logs" show empty file.

The Sublime's

[2022-02-09 17:08] thespacedoctor opened #201 "Upload and download problems"
I'm on macOS 12.2 with Sublime build 4126.

I can get the first create and upload to work and can see ~3500 files in my gist. The next time I upload I get a "Server Error".

On my Ubuntu 20.04 machine with the same Sublime build the download seems to pass peacefully but only a few select files are downloaded (~100) and the sync logs are empty.

Any thoughts?

[2022-02-16 12:13] negativems commented on #201
I have the same problem, I am using profile switcher extension and I use a lot of extensions between the profiles, the gist file is so big, and it affects to the performance and throws an error when it reach the size limit of gist.

[2022-02-16 12:15] negativems commented on #201
There is a lot of data that is useless for me like the default values from the extensions I use.

[2022-06-08 06:59] munkybutt opened #202 "Uploading Errors Out - "FileNotFoundError: No such file or directory""
**Describe the bug**
I noticed that my settings were no longer syncing automatically, so I attempted to upload them manually and get this error:

[code]

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Sublime Version 4 - Build 4126

**Log file content with debug property in true**
Log files are empty and I the debug property doesn't seem to exist in the settings :/

[2022-06-08 12:10] mfuentesg commented on #202
Hey! Hmm, this has happened before, and it is due to some conflicting packages/plugins which are overwriting the file system for `requests` package, used to fetch/push information from/to GitHub.

As you can see in the logs, there are references to the "conflicting package". This time, this package is "sublime-github".

Si, as workaround, uninstall it and restart Sublime, and trying again.
Please

[2022-06-19 17:35] josegus opened #203 "Can't download settings"
**Describe the bug**
A clear and concise description of what the bug is.

**Desktop (please complete the following information):**
 - OS: MacOs monterey 12.4
 - Sublime Version 4

I just installed sublime, tried to sync my settings and it didn't work. The sublime status bar said "downloaded" but it synced nothing. Weird issue, because I've used SyncSettings many times before on Ubuntu through diff

[2022-07-20 19:50] taravasya opened #204 "Export settings to custom folder"
Can I use somehow custom folder, where settings will be exported for sync them with third party sync service?